<%- include ('user_layout/user_header') %>
<section class="wapperSection">
    <div class="promotionSec sec-pad-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="asideView">
                        <div class="widgetBox">
                            <div class="widgetBody">
                                <div class="promotionCountry">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <%
                                        for(let i=0; continent.length > i; i++) {
                                         if(i == 0) { %>
                                            <li class="nav-item">
                                                <a class="nav-link active" id="promoTab-tab1" data-value="<%= continent[i].id %>" onclick="getpromotion('<%= continent[i].id %>')"  data-toggle="tab" href="#promoTab" role="tab" aria-controls="promoTab" aria-selected="true"><i class="fas fa-angle-double-right"></i><%= continent[i].name %></a>
                                            </li>
                                      <%}else {%>
                                        <li class="nav-item">
                                            <a class="nav-link" id="promoTab-tab" data-toggle="tab" href="#promoTab" role="tab" onclick="getpromotion('<%= continent[i].id %>')" aria-controls="promoTab" aria-selected="true"><i class="fas fa-angle-double-right"></i><%= continent[i].name %></a>
                                        </li>
                                      <% } } %>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content" id="myTabContent">
                          
                          
                          
                          
                          
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<script>
$( document ).ready(function() {
   var id =  $("#promoTab-tab1").attr('data-value');
    getpromotion(id)
 });

 
</script>
<%- include ('user_layout/footer') %>