<%- include ('user_layout/header') %>
	<div class="clearfix"></div>

	<!-- BANNER-SECTION -->
	<section class="hero-equal-height pt-100 gradient-overlay" style="background: url('/public/assets/website/img/main-banner1.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-6">
                    <div class="hero-content-left text-white  mt-lg-0 mt-md-5 mt-sm-5 mt-5">
                        <h1 class="text-white ml3"><%= homeData.MainText%></h1>
                        <div class="app-download-content bannerLoginBtn">
                            <div class="btn-box">
                                <!-- <a href="/signin?userType=reseller" class="app-store-btn store_btn  resellerBtn">
                                    <i class="fas fa-user-tie"></i>
                                    Be a
                                    <span>Reseller</span>
                                </a> -->
                                <!-- <a href="/developer-signin?userType=developer" class="play-store-btn store_btn" data-toggle="modal" data-target="#exampleModal1">
                                    <i class="fas fa-file-code"></i>
                                    Use for
                                    <span>Developer</span>
                                </a> -->
                                <a href="http://design.mindiii.com/vaishali/Qvaring/reseller-side/" class="resellerBtn">
                                    <i class="fas fa-user-tie mr-2"></i>
                                    
                                    <span>Be a Reseller</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="sign-up-form-wrap shadow-lg">
                        <div class="sign-up-form-header text-center mb-5">
                            <h4 class="mb-0"><%= homeData.Quickly_Recharge%></h4>
                        </div>
                        <form class="login-signup-form">
                            <div class="form-recharge bulk_recharge after-add-more">
                            	<div class="form-wizard" id="msform">
                            		<fieldset>
                            			<div class="rechargeStepItem">
											<!-- <h2>Enter the receiver mobile number</h2> -->
											<div class="noBox">
												<div class="form-group" id="cubaRecharge">
													<h2><%= homeData.Enter_the_receiver_mobile%></h2>
													<input type="tel" class="mobilenumber" placeholder="<%= homeData.Enter_Mobile_Number%>" autocomplete="off" >
												</div>
												<div class="form-group" id="emailRecharge" style="display: none;">
													<h2><%= homeData.Enter_the_receiver_email%></h2>
													<input type="email" class="" placeholder="<%= homeData.Enter_Email%>">
												</div>
												<div class="text-right">
													<a href="javascript:void(0);" class="csTextLink" id="emailBox"><%= homeData.Recharge_Nauta%></a>
													<a href="javascript:void(0);" class="csTextLink" id="cubacelBox" style="display: none;"><%= homeData.Cubacel_Recharge%></a>
												</div>
											</div>
										</div>
										<div class="mt-30">
											<button type="button" class="btn btn-block btnGradient btn-next"><%= homeData.Continue%></button>
										</div>
                            		</fieldset>
                            		<fieldset>
                            			<div class="rechargeStepItem">
											<h2>Select Operator</h2>
	                            			<div class="operators">
												<div class="operatorNo">
													<div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="/public/assets/website/img/op/1.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator" checked="">
															<img src="/public/assets/website/img/op/2.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="/public/assets/website/img/op/3.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="/public/assets/website/img/op/4.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="/public/assets/website/img/op/5.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="/public/assets/website/img/op/6.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="/public/assets/website/img/op/7.png" alt="">
														</label>
	                                                </div>
												</div>
											</div>
										</div>
										<div class="mt-30">
											<a href="recharge-page.html" class="btn btn-block btnGradient">Proceed to Recharge</a>
										</div>
                            		</fieldset>
								</div>
                            </div>
                            <!-- Submit -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-bottom overflow-hidden">
            <img src="/public/assets/website/img/hero-shape.svg" alt="shape" class="bottom-shape">
        </div>
    </section>

    <!-- FEATURES-SECTION -->
    <div class="feature-section" id="Features">
    	<div class="container">
    		<div class="feature-heading">
    			<h1><%= homeData.Features%></h1>
    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    		</div>
    		<div class="feature-boxes">
				<div class="row justify-content-center">
	                <!-- Single Feature area -->
	                <div class="col-md-6 col-lg-4">
	                    <div id="uc_new_service284059">
							<div class="new_services" style="text-align:left; padding:30px;">
								<div class="content">
						         <div class="iccon">
									<i class="fab fa-shirtsinbulk"></i>			
									<h3 class="title animation"> 
										<span class="uc-style-451341119627">Bulk Recharge</span>
									</h3>
								 </div>	
									<div class="text-para">Their quick-firers up the Thames refused to stop, mutinied, and went again.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
						          
								</div>
						  	</div>
						</div>
	                </div>

	                <!-- Single Feature area -->
	                <div class="col-md-6 col-lg-4">
	                    <div id="uc_new_service284059">
							<div class="new_services" style="text-align:left; padding:30px;">
								<div class="content">
						          <div class="iccon">
									<i class="fas fa-comment-dots"></i>			
									<h3 class="title animation"> 
										<span class="uc-style-451341119627">Messaging</span>
									</h3>
								 </div>	
									<div class="text-para">Their quick-firers up the Thames refused to stop, mutinied, and went again.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
						          
								</div>
						  	</div>
						</div>
	                </div>

	                <!-- Single Feature area -->
	                <div class="col-md-6 col-lg-4">
	                    <div id="uc_new_service284059">
							<div class="new_services" style="text-align:left; padding:30px;">
								<div class="content">
						          <div class="iccon">
									<i class="fas fa-phone-volume"></i>				
									<h3 class="title animation"> 
										<span class="uc-style-451341119627">Call</span>
									</h3>
								 </div>
									<div class="text-para">Their quick-firers up the Thames refused to stop, mutinied, and went again.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
						          
								</div>
						  	</div>
						</div>
	                </div>

	                <!-- Single Feature area -->
	                <div class="col-md-6 col-lg-4">
	                    <div id="uc_new_service284059">
							<div class="new_services" style="text-align:left; padding:30px;">
								<div class="content">
						          <div class="iccon">
									<i class="fas fa-paper-plane"></i>				
									<h3 class="title animation"> 
										<span class="uc-style-451341119627">Transfer Money</span>
									</h3>
								 </div>
									<div class="text-para">Their quick-firers up the Thames refused to stop, mutinied, and went again.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
						          
								</div>
						  	</div>
						</div>
	                </div>

	                <!-- Single Feature area -->
	                <div class="col-md-6 col-lg-4">
	                    <div id="uc_new_service284059">
							<div class="new_services" style="text-align:left; padding:30px;">
								<div class="content">
						          <div class="iccon">
									<i class="fas fa-wallet"></i>				
									<h3 class="title animation"> 
										<span class="uc-style-451341119627">Wallet Money</span>
									</h3>
								 </div>
									<div class="text-para">Their quick-firers up the Thames refused to stop, mutinied, and went again.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
						          
								</div>
						  	</div>
						</div>
	                </div>

	                <!-- Single Feature area -->
	                <!-- <div class="col-md-6 col-lg-4">
	                    <div class="single-feature-area text-center">
	                        <div class="feature-icon">
	                            <i class="fas fa-code"></i>
	                        </div>
	                        <div class="feature-content-text">
	                            <h4>Web Development</h4>
	                            <p>The front end of your website. No coding and no confusing back end options.</p>
	                            <a href="#">Read more <i class="fas fa-chevron-right"></i></a>
	                        </div>
	                    </div>
	                </div> -->
	            </div>
    		</div>
    	</div>
    </div>

    <!-- DOWNLOAD-SECTION -->
    <div class="download-sec bg-img" id="Download">
    	<div class="container">
    		<div class="feature-heading download-text">
    			<h1>Get the App</h1>
    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    		</div>
    		<p class="download-buttons">

				<a class="stores-img" href=""><img src="/public/assets/website/img/is-badge.png"></a>
				<a class="stores-img play-store-img" href=""><img src="/public/assets/website/img/an-badge.png"></a>
			</p>
    	</div>
    </div>

    


	<!-- Login-Modal -->
	<div class="modal csModal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog login-modal" role="document">
	    <div class="modal-content">
	      <div class="modal-header cross-icon">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <!-- <div class="modal-body login-sec">
	        <img src="img/ico_qvaring.png">
	        <h3>Welcome to Qvaring</h3>
	        <form class="login-form">
	        	<div class="form-group contact-input">
                    <div class="input-group form-group contact-field login-field">
                        <input class="form-control" id="phone-1" type="tel" placeholder="Enter Mobile Number">
					</div>
                </div>
                <div class="form-group mb-0">                                              
                    <div class="input-group form-group contact-field password-field login-field mb-0">
                        <input name="otp" placeholder="Password" type="password">
                    </div>
                <div class="frgt-pswrd">
                	<a href="" data-toggle="modal" data-target="#exampleModal-1" data-dismiss="modal">Forgot your password?</a>
                </div>
                </div>
	        </form>
	      </div>
	      	<div class="modal-footer btn-footer">
	            <div class="loginBtn">
	            	<a href="recharge-page.html">Login</a>
	            </div>
	      	</div>
            <div class="dont-account mt-0">
	            <span class="signUp-Text">Don't Have an Account? <a href="" data-toggle="modal" data-target="#exampleModal1" data-dismiss="modal">Sign Up</a> </span>
	        </div> -->

	        <div class="form-wizard" id="msform">
	        	<!-- 1 -->
                <fieldset style="display: block;" id="loginstp1">    
                    <div class="login-form-container">
                        <div class="modal-body login-sec">
				        	<img src="/public/assets/website/img/ico_qvaring.png">
				        	<h3>Welcome to Qvaring</h3>
					        <form class="login-form" autocomplete="off" name="loginForm" method="post">
					        	<div class="form-group contact-input">
				                    <div class="input-group form-group contact-field login-field">
				                        <input class="form-control" id="loginPhone" name="user_contact" type="tel" placeholder="Enter Mobile Number" autocomplete="off">
									</div>
				                </div>
				                <div class="form-group mb-0">                                              
				                    <div class="input-group form-group contact-field password-field login-field mb-0">
										<input name="password" id="loginpass" placeholder="Enter Password" type="password">
										<input type="hidden" id="log_dial_code" name="log_dial_code">
										<input type="hidden" id="log_country_code" name="log_country_code">

				                    </div>
				                <div class="frgt-pswrd">
				                	<a href="" data-toggle="modal" data-target="#exampleModal-1" data-dismiss="modal">Forgot your password?</a>
				                </div>
								</div>
								<div class="button-box text-center loginBtn">
									<button type="submit" class="login-btn btn-next loginButton">Login</button>
								</div>
					        </form>
				      	</div>
                        
                        <div class="dont-account mt-0">
				            <span class="signUp-Text ">Don't Have an Account? <a href="" data-toggle="modal" data-target="#exampleModal1" data-dismiss="modal">Sign Up</a> </span>
				        </div>
			            <!-- <div class="dont-account mt-0">
				            <span class="signUp-Text">Already Have an Account? <a href="" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Sign In</a> </span>
				        </div> -->
                    </div>
                </fieldset>

                <!-- 2 -->
                <fieldset  id="loginstp2">    
                    <div class="login-form-container">
                        <div class="modal-body login-sec pb-0 qvaHeading">
				        	<img src="/public/assets/website/img/ico_qvaring.png">
				        	<h3>Welcome to Qvaring</h3>
				        	<p>Please enter the verification code sent to your given mobile number.</p>
					        <form class="login-form" name="verifyUserOtpForm" id="verifyUserOtpForm" method="post">
					        	<div class="form-group contact-input">
				                    <div class="input-group form-group contact-field login-field otp-input">
				                        <input name="user_otp" id="user_otp" placeholder="Enter OTP Number" type="text">
									<div class=" text-resend">
                                        <a href="#" class="switcher-text2 resend_otp1">Resend Code</a>
                                    </div>
									</div>
								</div>
								<div class="button-box text-center cnfrmBtn">
									<!-- <button type="button" class="btn btn-previous previous-btn">Previous</button> -->
									&nbsp;
									<span class="loginBtn">

									<button type="submit" class="login-btn1 btn-next loginButton1">Confirm</button></span>
								</div>
					        </form>
				      	</div>
                        
                        
			            <!-- <div class="dont-account mt-0">
				            <span class="signUp-Text">Don't Have an Account? <a href="" data-toggle="modal" data-target="#exampleModal1" data-dismiss="modal">Sign Up</a> </span>
				        </div> -->
                    </div>
                </fieldset>
            </div>
	    </div>
	  </div>
	</div>

	<!-- Signup-Modal -->
	<div class="modal csModal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog login-modal" role="document">
	    <div class="modal-content">

	    	<div class="modal-header cross-icon">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>

	        <div class="form-wizard" id="msform">
	        	<!-- 1 -->
                <fieldset style="display: block;" id="stp1">    
                    <div class="login-form-container">
                        <div class="modal-body login-sec pb-0">
				        	<img src="/public/assets/website/img/ico_qvaring.png">
				        	<h3>Welcome to Qvaring</h3>
					        <form class="login-form" id="send_otp" name="send_otp" autocomplete="off">
					        	<div class="form-group contact-input">
				                    <div class="input-group form-group contact-field login-field">
										<input class="form-control" id="signUpPhone" name="contact_number" type="tel" placeholder="Enter Mobile Number" required autocomplete="off">
										<input type="hidden" id="dial_code" name="dial_code">
										<input type="hidden" id="country_code" name="country_code">
										
										<input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>"/>
									</div>
								</div>
								<div class="button-box text-center loginBtn">
									<button type="submit" id="verify_number"  class="login-btn btn-next send_otp">Next</button>
								</div>
					        </form>
				      	</div>
                        
                        
			            <div class="dont-account mt-0">
				            <span class="signUp-Text">Already Have an Account? <a href="" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Sign In</a> </span>
				        </div>
                    </div>
                </fieldset>

                <!-- 2 -->
                <fieldset id="otp_form">    
                    <div class="login-form-container">
                        <div class="modal-body login-sec pb-0">
				        	<img src="/public/assets/website/img/ico_qvaring.png">
				        	<h3>Welcome to Qvaring</h3>
					        <form class="login-form" name="verifyOtpForm" method="post" autocomplete="off">
					        	<div class="form-group contact-input">
				                    <div class="input-group form-group contact-field login-field otp-input">
				                        <input name="otp" placeholder="Enter OTP Number" type="text" id="otp">
									<div class=" text-resend">
                                        <a href="#" class="switcher-text2 resend_otp">Resend Code</a>
                                    </div>
									</div>
								</div>
								<div class="button-box text-center">
									<button type="button" class="btn btn-previous previous-btn">Previous</button>
									&nbsp;
									<span class="loginBtn"><button id="verify_signup" type="submit" class="login-btn btn-next">Next</button></span>
								</div>
								
					        </form>
				      	</div>
                        
                        
			            <div class="dont-account mt-0">
				            <span class="signUp-Text">Already Have an Account? <a href="" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Sign In</a> </span>
				        </div>
                    </div>
                </fieldset>

                <!-- 3 -->
                <fieldset id="details_form">
                    <div class="loginBox largeBox">
                        <div class="loginHead stepBlk">
                            <div class="backIcon">
                                <span data-original-title="Back" data-toggle="tooltip" data-placement="top" title="" class="btn-previous slide-right material-icons md-chevron_left animate__animated"></span>
                            </div>
                        </div>
                        <div class="login-register-wrapper">
                            <div class="login-form-container">
                            	<div class="modal-body login-sec pb-0">
						        	<!-- <img src="img/ico_qvaring.png">
						        	<h3>Welcome to Qvaring</h3> -->
						        	<form class="login-form" autocomplete="off" id="signup_user" name="signup_user" method="POST" enctype="multipart/form-data" autocomplete="off">
						        		<div class="fxt-header">
				                        	<span><img src="/public/assets/website/img/user.png" id="pImg"></span> 
											<div class="fileContainer">
						                        <label>
						                          <div class="upload-icon">
						                            <i class="fa fa-camera"></i>
						                          </div>
						                          <input name="profileImage"  id="profileImage" type="file">
						                        </label>
											</div>  
											<div id="profileImage-err"> </div>
				                        	<p>Upload Image</p>                        
				                        </div>
							        	<div class="form-group contact-input">
						                    <div class="input-group form-group contact-field login-field otp-input">
						                        <input name="name" placeholder="Enter Name" type="name">
											</div>
						                </div>
						                <div class="form-group contact-input">
						                    <div class="input-group form-group contact-field login-field otp-input">
						                        <input name="email" placeholder="Enter Email Address" type="email">
											</div>
						                </div>
						                <div class="form-group contact-input">
						                    <div class="input-group form-group contact-field login-field otp-input">
						                        <input name="password" id="password" placeholder="Enter Password" type="Password">
											</div>
						                </div>
						                <div class="form-group contact-input">
						                    <div class="input-group form-group contact-field login-field otp-input">
						                        <input name="confirm_password" placeholder="Enter Confirm Password" type="Password">
											</div>
						                </div>
						                <div class="form-group socialSelect">
											<select class="form-control formSelect">
												<option value="1">From where you heard about us</option>
	                                            <option value="2">Friends</option>
	                                            <option value="3">Social Media</option>
	                                            <option value="4">Email Campaign</option>
	                                            <option value="5">Other</option>
											</select>
										</div>
						                <div class="form-group contact-input">
						                    <div class="input-group form-group contact-field login-field otp-input">
						                        <input name="influencer" placeholder="Enter Influencer Code" type="text">
											</div>
										</div>
										
										<div class="button-box text-center">
											<input type="hidden" name="_csrf" id="_csrf"  value="<%= csrfToken %>"/>
											<span class="loginBtn"><button type="submit" id="signupbtn" class="login-btn" >Sign Up </button></span>
										</div>
							        </form>
						      	</div>
		                        
					            <div class="dont-account mt-0">
						            <span class="signUp-Text">Already Have an Account? <a href="" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">Sign In</a> </span>
						        </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
	    </div>
	  </div>
	</div>

	<!-- FORGOT-PASSWORD-MODAL -->
	<div class="modal csModal fade" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog login-modal" role="document">
	    <div class="modal-content">
	      <div class="modal-header cross-icon">
	      	<h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body login-sec pswrdImg">
	        <img src="/public/assets/website/img/secure.png">
	        <h3>Forgot Your Password?</h3>
	        <p>No worries! Just enter your email and we will send you a reset password link.</p>
	        <form class="login-form" id="resetPassword" name="resetPassword">
	        	<div class="form-group contact-input">
                    <div class="input-group form-group contact-field login-field emailField">
                    	<label>Email</label>
                        <input class="form-control" type="email" name="email" placeholder="Enter email">
					</div>
				</div>
				<div class="modal-footer btn-footer mb-4">
					<div class="loginBtn">
						
						<button type="submit" id="forgotButton" class="login-btn resetButton" >Reset Password </button>
					</div>
				</div>
	        </form>
	      </div>
	      
	    </div>
	  </div>
	</div>

	<!-- <div class="modal csModal fade" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog login-modal" role="document">
	    <div class="modal-content">
	      <div class="modal-header cross-icon">
	      	<h5 class="modal-title" id="exampleModalLabel">Verification</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      	<div class="modal-body login-sec transferImg">
	        	<img src="img/checkmark.png">
	        	<h3>Verify your number</h3>
		        <form class="login-form">
		        	<div class="form-group contact-input">
	                    <div class="input-group form-group contact-field login-field otp-input">
	                        <input name="otp" placeholder="Enter OTP Number" type="text">
						<div class=" text-resend">
                            <a href="#" class="switcher-text2">Resend Code</a>
                        </div>
						</div>
	                </div>
		        </form>
	      	</div>
	      <div class="modal-footer btn-footer">
            <div class="loginBtn">
            	<a href="recharge-page.html">Verify</a>
            </div>
	      </div>
	    </div>
	  </div>
	</div> -->
</div>
<%- include ('user_layout/footer') %>
<!-- Modal -->
<div class="modal fade csModal" id="crop_image_model" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crop Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="" style="max-width: 100%;" id="image">
            </div>
            <div class="modal-footer">
                <a class="btn close_text" data-dismiss="modal" id="modal_close">
                    Cancel
                </a>
                <button type="button" id="preview_image" class="btn btn-primary btn_pad_less save"
                    data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>

<script>

	
	var textWrapper = document.querySelector('.ml3');
	textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

	anime.timeline({loop: true})
  		.add({
		    targets: '.ml3 .letter',
		    opacity: [0,1],
		    easing: "easeInOutQuad",
		    duration: 2250,
		    delay: (el, i) => 150 * (i+1)
  		}).add({
		    targets: '.ml3',
		    opacity: 0,
		    duration: 1000,
		    easing: "easeOutExpo",
		    delay: 1000
		});

		/*===============Intel Input======*/
		var input5 = document.querySelector(".mobilenumber");
		window.intlTelInput(input5, {
			separateDialCode: true
		});	

		// var input1 = document.querySelector("#loginPhone");
		// window.intlTelInput(input1, {
		// 	separateDialCode: true
		// });

		// var input2 = document.querySelector("#signUpPhone");
		// window.intlTelInput(input2, {
		// 	separateDialCode: true
		// });	
</script>

<script type="text/javascript">
	$('.modal').on('hidden.bs.modal', function () {
	if($(".modal:visible").length > 0) {
	$('body').addClass('modal-open');
	$('body').css({"padding-right": "17px"});
	}else{
	$('body').removeClass('modal-open');
	$('body').css({"padding-right": "0"});
	}
    });
  


   $(document).ready(function(){
      setTimeout(function(){
         var input = document.querySelector("#signUpPhone");
		 $.getJSON('https://ipapi.co/json/', function(data) {
             //myselfCountryInput.setCountry(data.country_code);
             country = "us";
             if(data.country_code){
                country = data.country_code;
             }
        var iti = window.intlTelInput(input, {
            initialCountry:  country,
            separateDialCode:true,
          //  initialCountry: "in",
               dropdownContainer: document.body,
               utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js",
		});
		
		// default select value set

		var countryData = iti.getSelectedCountryData();
        var countryDialCode = countryData.dialCode;
		var countryCode = countryData.iso2;
	
        $('#dial_code').val(countryDialCode);
        $('#country_code').val(countryCode);
	

        input.addEventListener("countrychange", function() {
         // do something with iti.getSelectedCountryData()
            var countryData = iti.getSelectedCountryData();
            var countryDialCode = countryData.dialCode;
			var countryCode     = countryData.iso2;
			
            $('#dial_code').val(countryDialCode);
            $('#country_code').val(countryCode);
		});
	})

			/// code for login

			var loginInput = document.querySelector("#loginPhone");
				$.getJSON('https://ipapi.co/json/', function(data) {
					//myselfCountryInput.setCountry(data.country_code);
					country = "us";
					if(data.country_code){
						country = data.country_code;
					}
				var loginiti = window.intlTelInput(loginInput, {
					initialCountry:  country,
					separateDialCode:true,
				//  initialCountry: "in",
					dropdownContainer: document.body,
					utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js",
				});
				
				// default select value set

				var countryData = loginiti.getSelectedCountryData();
				var countryDialCode = countryData.dialCode;
				var countryCode = countryData.iso2;
			
				$('#log_dial_code').val(countryDialCode);
				$('#log_country_code').val(countryCode);
			

				loginInput.addEventListener("countrychange", function() {
				// do something with iti.getSelectedCountryData()
					var logincountryData = loginiti.getSelectedCountryData();
					var logincountryDialCode = logincountryData.dialCode;
					var logincountryCode     = logincountryData.iso2;
					
					$('#log_dial_code').val(logincountryDialCode);
					$('#log_country_code').val(logincountryCode);
				});
			})	
      },800);
   }); 

     
   
</script>


