<%- include ('user_layout/user_header') %>
	<section class="wapperSection">
		<div class="profileSec sec-pad-40">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="asideView">
							<div class="profileInfoSideBar">
								<div class="profileInfoBlk">
									<div class="gradiendBgProfile"></div>
									<div class="prCntBlk">
										<div class="prImg">
											<img class="usImg" src="<%= userData.profile_image %>">
										</div>
										<div class="prCnt">
											<h2><%= userData.name %> <span class="verifiedIcon"><img src="/public/assets/website/img/ico_verified.png"></span></h2>
											<p><%= userData.email %></p>
											<p><%= userData.country_dial_code %>-<%= userData.contact_number %></p>
										</div>
									</div>
								</div>
								<div class="profileTabBar">
									<ul class="nav nav-tabs" id="myTab" role="tablist">
									  	<li class="nav-item">
									    	<a class="nav-link active" id="prTab-tab" data-toggle="tab" href="#prTab" role="tab" aria-controls="prTab" aria-selected="true">Saved Card <i class="fas fa-angle-right"></i></a>
									  	</li>
									  	<li class="nav-item">
									    	<a class="nav-link" id="prTab1-tab" data-toggle="tab" href="#prTab1" role="tab" aria-controls="prTab1" aria-selected="false">Edit Profile <i class="fas fa-angle-right"></i></a>
									  	</li>
									  	<li class="nav-item">
									    	<a class="nav-link" id="prTab2-tab" data-toggle="tab" href="#prTab2" role="tab" aria-controls="prTab2" aria-selected="false">Profile Verification <i class="fas fa-angle-right"></i></a>
									  	</li>
									  	<li class="nav-item">
									    	<a class="nav-link" id="prTab3-tab" data-toggle="tab" href="#prTab3" role="tab" aria-controls="prTab3" aria-selected="false">Change Password <i class="fas fa-angle-right"></i></a>
									  	</li>
									  	<li class="nav-item">
									    	<a class="nav-link" id="prTab4-tab" data-toggle="tab" href="#prTab4" role="tab" aria-controls="prTab4" aria-selected="false">My Subscription <i class="fas fa-angle-right"></i></a>
									  	</li>
									  	<li class="nav-item">
									    	<a class="nav-link" href="subsCription-page.html">Subscription <i class="fas fa-angle-right"></i></a>
									  	</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8"> 
						<div class="profileTabCnt">
							<div class="tab-content" id="myTabContent">
							  	<div class="tab-pane fade show active" id="prTab" role="tabpanel" aria-labelledby="prTab-tab">
							  		<div class="boxView">
							  			<div class="boxViewHead">
							  				<h2>Saved Card</h2>
							  				<p>We will not sell or distribute your information.</p>
							  			</div>
							  			<div class="cardListBlk">
								  			<div class="savedCardList">
								  				<div class="savedCardItem">
								  					<a href="" data-target="#add-new-card-details" data-toggle="modal" class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
									                	<p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Add New Card</span> </p>
									                </a>
								  				</div>
								  				<div class="savedCardItem">
								  					<div class="account-card account-card-primary text-white rounded">
									                  	<p class="text-4 cardNo">XXXX-XXXX-XXXX-4151</p>
									                  	<p class="text-3 cardStatus"><i class="fas fa-check-circle"></i>Verified</p>
									                  	<p class="d-flex align-items-center"> 
									                  		<span class="account-card-expire text-uppercase d-inline-block opacity-7 mr-2">Valid<br> thru<br></span> 
									                    	<span class="text-4 opacity-9">07/24</span> 
									                    	<span class="badge badge-warning text-0 font-weight-500 rounded-pill px-2 ml-auto">Primary</span>
									                    </p>
									                  	<p class="d-flex align-items-center cardHNameBlk m-0"> 
									                  		<span class="text-uppercase font-weight-500 cardHName">Isabella Johnson </span> 
									                  		<img class="ml-auto" src="/public/assets/website/img/visa.png" alt="visa" title="">
									                  	</p>
									                  	<div class="account-card-overlay rounded">
									                  		<div class="cardAct">
										                  		<a href="javascript:void(0)" class="deleteCard text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Remove</a>
										                  	</div>
									                  	</div>
									                </div>
								  				</div>
								  				<div class="savedCardItem">
								  					<div class="account-card text-white rounded">
									                  	<p class="text-4 cardNo">XXXX-XXXX-XXXX-6296</p>
									                  	<p class="text-3 cardStatus notVerify">Not Verified</p>
									                  	<p class="d-flex align-items-center"> 
									                  		<span class="account-card-expire text-uppercase d-inline-block opacity-7 mr-2">Valid<br> thru<br></span> <span class="text-4 opacity-9">07/23</span>
									                  	</p>
									                  	<p class="d-flex align-items-center cardHNameBlk m-0"> 
									                  		<span class="text-uppercase font-weight-500 cardHName">Smith Rhodes</span> 
									                  		<img class="ml-auto" src="/public/assets/website/img/mastercard.png" alt="mastercard" title="">
									                  	</p>
									                  	<div class="account-card-overlay rounded"> 
									                  		<div class="cardAct">
									                  			<a href="#" class="text-light btn-link mx-2"  data-target="#verify-card-details" data-toggle="modal"><span class="mr-1"><i class="fas fa-check-circle"></i></span>Verify</a>
									                  		</div> 
									                  		<!-- <div class="cardAct">
										                  		<a href="#" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a> 
										                  	</div> -->
									                  	</div>
									                </div>
								  				</div>
								  				<div class="savedCardItem">
								  					<div class="account-card text-white rounded">
									                  	<p class="text-4 cardNo">XXXX-XXXX-XXXX-6296</p>
									                  	<p class="text-3 cardStatus"><i class="fas fa-check-circle"></i>Verified</p>
									                  	<p class="d-flex align-items-center"> 
									                  		<span class="account-card-expire text-uppercase d-inline-block opacity-7 mr-2">Valid<br> thru<br></span> <span class="text-4 opacity-9">07/23</span>
									                  	</p>
									                  	<p class="d-flex align-items-center cardHNameBlk m-0"> 
									                  		<span class="text-uppercase font-weight-500 cardHName">Smith Rhodes</span> 
									                  		<img class="ml-auto" src="/public/assets/website/img/mastercard.png" alt="mastercard" title="">
									                  	</p>
									                  	<div class="account-card-overlay rounded"> 
									                  		<div class="cardAct">
									                  			<a href="#" class="text-light btn-link mx-2">Make Primary</a>
									                  		</div>
									                  		<div class="cardAct">
									                  			<a  href="javascript:void(0)" class="deleteCard text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Remove</a> 
									                  		</div>
									                  	</div>
									                </div>
								  				</div>
								  			</div>
								  		</div>
							  		</div>
							  	</div>
							  	<div class="tab-pane fade" id="prTab1" role="tabpanel" aria-labelledby="prTab1-tab">
							  		<div class="boxView">
							  			<div class="boxViewHead">
							  				<h2>Update Profile</h2>
							  				<p>You can edit and update your profile information.</p>
							  			</div>
							  			<div class="editProfile">
							  				<form class="csForm" id="updateProfile" name="updateProfile" method="post">
							  					<div class="upload-pic">
			                                        <img src="<%= userData.profile_image %>" id="pImg">
			                                        <div class="text-center upload-icon">
			                                            <input accept="image/*" class="inputfile hideDiv" id="file-2" name="profileImage" onchange="document.getElementById('pImg').src = window.URL.createObjectURL(this.files[0])" value="<%= userData.profile_image %>" style="display: none;" type="file">
			                                            <label for="file-2" class="upload_pic">
			                                                <span class="fas fa-camera"></span>
			                                            </label>
			                                        </div>
			                                    </div>
							  					<div class="form-group">
							  						<label class="inputLabel">Name</label>
							  						<input class="form-control" name="name" type="text" value="<%= userData.name %>" placeholder="Enter Name">
							  					</div>
							  					<div class="form-group">
													<input type="hidden" name="user_id" id="user_id" value="<%= userData.id %>" >
													<input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
							  						<label class="inputLabel">Email</label>
							  						<input class="form-control" type="email" name="email" value="<%= userData.email %>" placeholder="Enter Email">
							  					</div>
							  					<div class="form-group">
							  						<div class="editPrAction">
														  
							  							<button  type="submit"  class="btn btnGradient" >Update</button>
							  						</div>
							  					</div>
							  				</form>
							  			</div>
							  		</div>
							  	</div>
							  	<div class="tab-pane fade" id="prTab2" role="tabpanel" aria-labelledby="prTab2-tab">
							  		<div class="boxView">
							  			<div class="boxViewHead">
							  				<h2>Profile Verification</h2>
							  			</div>
							  			<div class="verifyBlock">
							  				<div class="verifyHead">
							  					<img src="/public/assets/website/img/document.png">
							  					<div class="verifyCnt">
								  					<h3>We need to verify your ID.</h3>
								  					<p>You can upload your password,Driving License and any other id issued by goverment for verification.</p>
								  				</div>
							  				</div>
							  			</div>
							  			<div class="verifyDocument">
							  				<div class="docUploadBlk">
							  					<div class="docUploadItem">
							  						<label id="docPic" class="uploadDoc">
							                            <div class="upload_id">
							                              	<i class="fas fa-camera"></i>
							                              	<p>Upload Image</p>
							                            </div>
							                            <input type="file" id="verify_image" name="verify_image">
							                         </label>
							  					</div>
							  					<div class="docUploadItem">
							  						<label class="uploadDoc uplodedDoc Imguploaded">
							  							<img src="/public/assets/website/img/rsz_main-banner1.jpg">
							  							<span class="closeImg"><i class="fas fa-times"></i></span>
							  						</label>
							  					</div>
							  				</div>
							  				<div class="uploadAct text-center">
							  					<div class="note mb-3">
													<p class="alert alert-warning">Please Wait! Your document verification is under process. We will notify you soon.</p>
												</div>
							  					<button class="btn btnGradient" type="button">Submit To Verify</button>
							  				</div>
							  			</div>

							  		</div>
							  	</div>
							  	<div class="tab-pane fade" id="prTab3" role="tabpanel" aria-labelledby="prTab3-tab">
							  		<div class="boxView">
							  			<div class="boxViewHead">
							  				<h2>Update Password</h2>
							  				<p>You can change your password for secure you account.</p>
							  			</div>
							  			<div class="editProfile">
							  				<form class="csForm">
							  					<div class="form-group">
							  						<label class="inputLabel">Old Password</label>
							  						<input class="form-control" type="password"  placeholder="Enter Password">
							  					</div>
							  					<div class="form-group">
							  						<label class="inputLabel">New Password</label>
							  						<input class="form-control" type="password" placeholder="Enter Password">
							  					</div>
							  					<div class="form-group">
							  						<label class="inputLabel">Confirm Password</label>
							  						<input class="form-control" type="password" placeholder="Enter Password">
							  					</div>
							  					<div class="form-group">
							  						<div class="editPrAction">
							  							<button class="btn btnGradient" type="button">Update</button>
							  						</div>
							  					</div>
							  				</form>
							  			</div>
							  		</div>
							  	</div>
							  	<div class="tab-pane fade" id="prTab4" role="tabpanel" aria-labelledby="prTab4-tab">
							  		<div class="boxView">
							  			<div class="subsBox">
								  			<div class="boxViewHead subsBoxImg">
								  				<img src="/public/assets/website/img/subsImg.jpg">
								  				<h2>Standard Plan</h2>
								  			</div>
								  			<div class="subsPlan">
									  			<div class="price-circle-1">
													<h5>1 Month</h5>
													<div class="price-1"> 9.99<i>USD</i></div>
													<p>Per Month</p>
							  						<span>15 Days Remaining</span>
												</div>
												<!-- <div class="editPrAction text-center removeBtn">
						  							<a href="#" class="btn" type="button"><i class="fas fa-times-circle"></i></a>
						  						</div> -->
												<div class="nXtDate">
													<h6>Next Billing Date</h6>
													<p>20-11-2020</p>
												</div>
												<!-- <div class="form-group">
											      <input type="checkbox" id="html">
											      <label for="html">Auto Renewal</label>
											    </div> -->
										    </div>
											<div class="clearfix"></div>
											<ul class="subBtn">
												<!-- <li>
						  						</li> -->
						  						<li class="subPlanBtn">
													<div class="editPrAction">
							  							<a href="#" class="btn btnGradient" type="button">Stop Recurring</a>
							  						</div>
						  						</li>
					  						</ul>
				  						</div>
							  		</div>
							  	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>



<!-- ADD-NEW-CARD-MODAL -->

<div class="modal csModal fade" id="add-new-card-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog login-modal" role="document">
    <div class="modal-content">
      <div class="modal-header cross-icon">
      	<h5 class="modal-title" id="exampleModalLabel">Add New Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      	<div class="modal-body login-sec transferImg">
        	<img src="/public/assets/website/img/add-card.png">
        	<h3>Add Card</h3>
	        <form class="login-form">
	        	<div class="form-group contact-input">
                    <div class="input-group form-group contact-field login-field otp-input">
                        <input name="otp" placeholder="Card Holder Name" type="text">
					</div>
					<div id="card-element">
				      <!-- A Stripe Element will be inserted here. -->
				    </div>
					<!-- <div class="input-group form-group contact-field login-field otp-input">
                        <input name="otp" placeholder="Card Number" type="text">
					</div> -->
					<!-- <div class="row">
						<div class="col-md-6">
							<div class="input-group form-group contact-field login-field otp-input">
		                        <input name="otp" placeholder="Expiry Date" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group form-group contact-field login-field otp-input">
		                        <input name="otp" placeholder="CVV" type="text">
							</div>
						</div>
					</div> -->
                </div>
	        </form>
      	</div>
      <div class="modal-footer btn-footer addCard">
        <div class="loginBtn">
        	<a href="recharge-page.html">Add Card</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- VERIFY-CARD-MODAL -->

<div class="modal csModal fade" id="verify-card-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog login-modal" role="document">
    <div class="modal-content">
      <div class="modal-header cross-icon">
      	<h5 class="modal-title" id="exampleModalLabel">Verify Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      	<div class="modal-body login-sec transferImg">
        	<img src="/public/assets/website/img/verification_card.png">
        	<h3>Verify Your Card</h3>
	        <form class="login-form">
	        	<div class="form-group contact-input">
                    <div class="input-group form-group contact-field login-field otp-input">
                        <input name="otp" placeholder="Enter Amount" type="text">
					</div>
                </div>
	        </form>
      	</div>
      <div class="modal-footer btn-footer addCard">
        <div class="loginBtn">
        	<a href="recharge-page.html">Verify</a>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include ('user_layout/footer') %>

