<%- include ('user_layout/user_header') %>
	<section class="wapperSection">
		<div class="rechargeSec sec-pad-40">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="asideView">
							<div class="widgetBox">
								<div class="widgetBody">
									<div class="walletBox">
										<div class="walletIc"><img src="public/assets/website/img/ico_wallet.png"></div>
										<div class="walletAmt">
											<h5>Wallet Amount</h5>
											<h1>$150.00</h1>
										</div>
									</div>
									<div class="walletAct text-center mt-20">
										<!-- <a href="transfer.html" class="btn btnGradient">Transfer</a> -->
										<a href="addMoney-page.html" class="btn btnGradient">Add Money</a>
									</div>
								</div>
							</div>
							<div class="widgetBox">
								<div class="widgetHeader">
									<h2>Recent Sent Top-up</h2>
								</div>
								<div class="widgetBody">
									<div class="recentTopup">
										<div class="topupBlk">
											<div class="topupOp">
												<img src="public/assets/website/img/op/1.png">
											</div>
											<div class="topupCnt">
												<h2>+91-987654321</h2>
												<p>Sent, 22 Aug 2020</p>
											</div>
											<div class="topupAct">
												<a href="javascript:void(0);" class="csLink">Resend</a>
											</div>
										</div>
										<div class="topupBlk">
											<div class="topupOp">
												<img src="public/assets/website/img/op/2.png">
											</div>
											<div class="topupCnt">
												<h2>+91-987654321</h2>
												<p>Sent, 22 Aug 2020</p>
											</div>
											<div class="topupAct">
												<a href="javascript:void(0);" class="csLink">Resend</a>
											</div>
										</div>
										<div class="topupBlk">
											<div class="topupOp">
												<img src="public/assets/website/img/op/5.png">
											</div>
											<div class="topupCnt">
												<h2>+91-987654321</h2>
												<p>Sent, 22 Aug 2020</p>
											</div>
											<div class="topupAct">
												<a href="javascript:void(0);" class="csLink">Resend</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widgetBox">
								<div class="widgetBody">
									<div class="linkMenu">
										<ul>
											<!-- <li><a href="transfer-history.html">Transfer History <span class="fas fa-angle-right"></span></a></li> -->
											<li><a href="recharge-history.html">Recharge History <span class="fas fa-angle-right"></span></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="boxView rechargeBlk">
							<div class="form-wizard" id="msform">
								<div class="form-wizard-steps WizardSteps">
                                    <!-- Step 1 -->
                                    <div class="form-wizard-step active">
                                        <div class="bd-wizard-step-icon">
                                          <i class="fas fa-mobile-alt"></i>
                                        </div>
                                        <h6 class="bd-wizard-step-title">Recharge</h6>
                                    </div>
                                    <!-- Step 1 -->
                                    <!-- Step 1 -->
                                    <div class="form-wizard-step">
                                        <div class="bd-wizard-step-icon">
                                          <i class="fas fa-dollar-sign"></i>
                                        </div>
                                        <h6 class="bd-wizard-step-title">Plan</h6>
                                    </div>
                                    <!-- Step 1 -->
                                    <!-- Step 1 -->
                                    <div class="form-wizard-step">
                                        <div class="bd-wizard-step-icon">
                                          <i class="fas fa-info"></i>
                                        </div>
                                        <h6 class="bd-wizard-step-title">Summary</h6>
                                    </div>
                                    <!-- Step 1 -->
                                    <!-- Step 1 -->
                                    <div class="form-wizard-step">
                                        <div class="bd-wizard-step-icon">
                                          <i class="far fa-credit-card"></i>
                                        </div>
                                        <h6 class="bd-wizard-step-title">Payment</h6>
                                    </div>
                                    <!-- Step 1 -->
                                </div>

								<fieldset>
									<div class="rechargeStepItem">
										<div class="noBox">
											<div class="toolTip">
												<div class="form-group arrowTooltip-1" id="cubaRecharge">
													<h2>Enter the receiver mobile number</h2>
													<input type="tel" class="" id="mobilenumber" placeholder="Enter Mobile Number" style="padding-right: 92px;">
												<div class="arrowTooltip">
													<span  data-toggle="tooltip" data-placement="top" title="Check Operator"><i class="fas fa-arrow-right"></i></span>
												</div>
												</div>
											</div>
											<div class="form-group" id="emailRecharge" style="display: none;">
												<h2>Enter the receiver email</h2>
												<input type="email" class="" placeholder="Enter Email">
											</div>
											<div class="text-right">
												<a href="javascript:void(0);" class="csTextLink" id="emailBox">Recharge Nauta</a>
												<a href="javascript:void(0);" class="csTextLink" id="cubacelBox" style="display: none;">Cubacel Recharge</a>
											</div>
										</div>
									</div>
									<div class="accordion" id="accordionExample">
									  	<div class="rechargeStepItem">
										    <div class="headView" id="headingOne">
										      	<h2 data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										          Operator Detected <span>(Vodafone)</span>
										      	</h2>
										    </div>

										    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
										      	<div class="operators">
													<div class="operatorNo">
														<div class="single-operator">
															<label class="op-logo selected">
																<input type="radio" name="operator">
																<img src="public/assets/website/img/op/1.png" alt="">
															</label>
		                                                </div>
		                                                <div class="single-operator">
															<label class="op-logo selected">
																<input type="radio" name="operator" checked="">
																<img src="public/assets/website/img/op/2.png" alt="">
															</label>
		                                                </div>
		                                                <div class="single-operator">
															<label class="op-logo selected">
																<input type="radio" name="operator">
																<img src="public/assets/website/img/op/3.png" alt="">
															</label>
		                                                </div>
		                                                <div class="single-operator">
															<label class="op-logo selected">
																<input type="radio" name="operator">
																<img src="public/assets/website/img/op/4.png" alt="">
															</label>
		                                                </div>
		                                                <div class="single-operator">
															<label class="op-logo selected">
																<input type="radio" name="operator">
																<img src="public/assets/website/img/op/5.png" alt="">
															</label>
		                                                </div>
		                                                <div class="single-operator">
															<label class="op-logo selected">
																<input type="radio" name="operator">
																<img src="public/assets/website/img/op/6.png" alt="">
															</label>
		                                                </div>
		                                                <div class="single-operator">
															<label class="op-logo selected">
																<input type="radio" name="operator">
																<img src="public/assets/website/img/op/7.png" alt="">
															</label>
		                                                </div>
													</div>
												</div>
										    </div>
									  	</div>
									  	<!-- <div class="rechargeStepItem">
										    <div class="headView" id="headingTwo">
										    	<h2 data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										          Choose Your Plan
										      	</h2>
										    </div>
										    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										       <div class="noBox amountBox">
													<div class="form-groupView">
														<input type="tel" class="" placeholder="Enter Amount">
														<button onclick="openNav('planSidebar')" type="btn">View Plan</button>
													</div>
													<p class="selectedPlan">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</p>
												</div>
										    </div>
									  	</div> -->
									  	<!-- <div class="rechargeStepItem">
										    <div class="headView" id="headingTwo">
										    	<h2 data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										          Choose Your Plan
										      	</h2>
										    </div>
										    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										       	<div class="planInfoTabBlk">
										       		<ul class="nav nav-tabs" id="myTab" role="tablist">
													  	<li class="nav-item">
													    	<a class="nav-link active" id="pTab-tab" data-toggle="tab" href="#pTab" role="tab" aria-controls="pTab" aria-selected="true">Top-up</a>
													  	</li>
													  	<li class="nav-item">
													    	<a class="nav-link" id="pTab1-tab" data-toggle="tab" href="#pTab1" role="tab" aria-controls="pTab1" aria-selected="false">Plans</a>
													  	</li>
													</ul>
										       	</div>
										       	<div class="planInfoTabCntView">
										       		<div class="tab-content" id="myTabContent">
													  	<div class="tab-pane fade show active" id="pTab" role="tabpanel" aria-labelledby="pTab-tab">
													  		<div class="planBxBlk">
													  			<div class="planBxItem">
													  				<div class="planBxCnt">
													  					<h2>INR 50 Recharge</h2>
													  					<p>Top-up amount 50.00 INR</p>
													  				</div>
													  			</div>
													  			<div class="planBxItem">
													  				<div class="planBxCnt">
													  					<h2>INR 100 Recharge</h2>
													  					<p>Top-up amount 100.00 INR</p>
													  				</div>
													  			</div>
													  			<div class="planBxItem">
													  				<div class="planBxCnt">
													  					<h2>INR 150 Recharge</h2>
													  					<p>Top-up amount 150.00 INR</p>
													  				</div>
													  			</div>
													  		</div>
													  	</div>
													  	<div class="tab-pane fade" id="pTab1" role="tabpanel" aria-labelledby="pTab1-tab">
													  		<div class="planScrollView">
														  		<div class="planBxBlk">
														  			<div class="planBxItem">
														  				<div class="planBxCnt planBxBig">
														  					<div class="planBigCnt">
														  						<div class="planBigHead">
																  					<h2>INR 379: UL Calls + 6 GB/84D</h2>
																  					<p>Valid for 84 days</p>
																  				</div>
															  					<div class="planBigDes">
															  						<p>INR 379: UL Calls+6 GB Data for 84 Days</p>
															  					</div>
															  				</div>
															  				<div class="planBigPrice">
															  					<h5>Price 379.00 INR</h5>
															  				</div>
														  				</div>
														  			</div>
														  			<div class="planBxItem">
														  				<div class="planBxCnt planBxBig">
														  					<div class="planBigCnt">
														  						<div class="planBigHead">
																  					<h2>INR79: 64 TT + 200 MB/28D</h2>
																  					<p>Valid for 84 days</p>
																  				</div>
															  					<div class="planBigDes">
															  						<p>Get Rs 64 Talktime + 200 MB data</p>
															  					</div>
															  				</div>
															  				<div class="planBigPrice">
															  					<h5>Price 379.00 INR</h5>
															  				</div>
														  				</div>
														  			</div>
														  			<div class="planBxItem">
														  				<div class="planBxCnt planBxBig">
														  					<div class="planBigCnt">
														  						<div class="planBigHead">
																  					<h2>INR 379: UL Calls + 6 GB/84D</h2>
																  					<p>Valid for 84 days</p>
																  				</div>
															  					<div class="planBigDes">
															  						<p>INR 379: UL Calls+6 GB Data for 84 Days</p>
															  					</div>
															  				</div>
															  				<div class="planBigPrice">
															  					<h5>Price 379.00 INR</h5>
															  				</div>
														  				</div>
														  			</div>
														  			<div class="planBxItem">
														  				<div class="planBxCnt planBxBig">
														  					<div class="planBigCnt">
														  						<div class="planBigHead">
																  					<h2>INR79: 64 TT + 200 MB/28D</h2>
																  					<p>Valid for 84 days</p>
																  				</div>
															  					<div class="planBigDes">
															  						<p>Get Rs 64 Talktime + 200 MB data</p>
															  					</div>
															  				</div>
															  				<div class="planBigPrice">
															  					<h5>Price 379.00 INR</h5>
															  				</div>
														  				</div>
														  			</div>
														  			<div class="planBxItem">
														  				<div class="planBxCnt planBxBig">
														  					<div class="planBigCnt">
														  						<div class="planBigHead">
																  					<h2>INR 379: UL Calls + 6 GB/84D</h2>
																  					<p>Valid for 84 days</p>
																  				</div>
															  					<div class="planBigDes">
															  						<p>INR 379: UL Calls+6 GB Data for 84 Days</p>
															  					</div>
															  				</div>
															  				<div class="planBigPrice">
															  					<h5>Price 379.00 INR</h5>
															  				</div>
														  				</div>
														  			</div>
														  			<div class="planBxItem">
														  				<div class="planBxCnt planBxBig">
														  					<div class="planBigCnt">
														  						<div class="planBigHead">
																  					<h2>INR79: 64 TT + 200 MB/28D</h2>
																  					<p>Valid for 84 days</p>
																  				</div>
															  					<div class="planBigDes">
															  						<p>Get Rs 64 Talktime + 200 MB data</p>
															  					</div>
															  				</div>
															  				<div class="planBigPrice">
															  					<h5>Price 379.00 INR</h5>
															  				</div>
														  				</div>
														  			</div>
														  		</div>
													  		</div>
													  	</div>
													</div>
										       	</div>
										    </div>
									  	</div> -->
									</div>
									<div class="rechargeStepItem text-right">
										<button class="mt-20 btn btnGradient btn-next" type="button">Continue</button>
									</div>
									<!-- <div class="rechargeStepItem">
										<h2>Select Your Operator</h2>
										<div class="operators">
											<div class="form-group">
												<div class="operatorNo">
													<div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="public/assets/website/img/op/1.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="public/assets/website/img/op/2.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="public/assets/website/img/op/3.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="public/assets/website/img/op/4.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="public/assets/website/img/op/5.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="public/assets/website/img/op/6.png" alt="">
														</label>
	                                                </div>
	                                                <div class="single-operator">
														<label class="op-logo selected">
															<input type="radio" name="operator">
															<img src="public/assets/website/img/op/7.png" alt="">
														</label>
	                                                </div>
												</div>
											</div>
											<div class="">
												<button class="btn btnGradient btn-next" type="button">Continue</button>
											</div>
										</div>
									</div> -->
									<!-- <div class="rechargeStepItem">
										<h2>Choose Your Plan</h2>
										<div class="noBox amountBox">
											<div class="form-group">
												<input type="tel" class="" placeholder="Enter Amount">
												<button type="btn">View Plan</button>
											</div>
										</div>
									</div> -->
								</fieldset>
								<fieldset>
									<div class="rechargeStepItem">
										<div class="promotionBox mb-3">
											<div class="promoBox">
												<h1>Super Data Offer!</h1>
												<p>Send 20 CUC and get a BONUS 1GB, 50 mins & 50 SMS!</p>
												<div class="promoAct">
													<h5>Valid: 5 Oct - 11 Oct</h5>
													<a href="" data-toggle="modal" data-target="#exampleModalbonus">Read More</a>
												</div>
											</div>
										</div>
									    <div class="headView" >
									    	<h2>Choose Your Plan</h2>
									    </div>
									    <div>
									       	<div class="planInfoTabBlk">
									       		<ul class="nav nav-tabs" id="myTab" role="tablist">
												  	<li class="nav-item">
												    	<a class="nav-link active" id="pTab-tab" data-toggle="tab" href="#pTab" role="tab" aria-controls="pTab" aria-selected="true">Top-up</a>
												  	</li>
												  	<li class="nav-item">
												    	<a class="nav-link" id="pTab1-tab" data-toggle="tab" href="#pTab1" role="tab" aria-controls="pTab1" aria-selected="false">Plans</a>
												  	</li>
												</ul>
									       	</div>
									       	<div class="planInfoTabCntView">
									       		<div class="tab-content" id="myTabContent">
												  	<div class="tab-pane fade show active" id="pTab" role="tabpanel" aria-labelledby="pTab-tab">
												  		<div class="planBxBlk planScrollView tabChangeScroll">
												  			<div class="planBxItem">
												  				<label class="planBxCnt" data-target="#promotionConfirmModal" data-toggle="modal">
												  					<input type="radio" name="topup">
												  					<div class="plnCnt">
													  					<i class="fas fa-check-circle"></i>
													  					<h2>INR 50 Recharge</h2>
													  					<p>Top-up amount 50.00 INR</p>
													  					<div class="bounsTag">
													  						<span class="badge badge-info">+ Bonus</span>
													  					</div>
													  				</div>
												  				</label>
												  			</div>
												  			<div class="planBxItem">
												  				<label class="planBxCnt">
												  					<input type="radio" name="topup">
												  					<div class="plnCnt">
													  					<i class="fas fa-check-circle"></i>
													  					<h2>INR 100 Recharge</h2>
													  					<p>Top-up amount 100.00 INR</p>
													  				</div>
												  				</label>
												  			</div>
												  			<div class="planBxItem">
												  				<label class="planBxCnt">
												  					<input type="radio" name="topup">
												  					<div class="plnCnt">
													  					<i class="fas fa-check-circle"></i>
													  					<h2>INR 150 Recharge</h2>
													  					<p>Top-up amount 150.00 INR</p>
													  					<div class="bounsTag">
													  						<span class="badge badge-info">+ Bonus</span>
													  					</div>
													  				</div>
												  				</label>
												  			</div>
												  		</div>
												  	</div>
												  	<div class="tab-pane fade" id="pTab1" role="tabpanel" aria-labelledby="pTab1-tab">
												  		<div class="">
													  		<div class="planBxBlk planScrollView tabChangeScroll">
													  			<div class="planBxItem">
													  				<label class="planBxCnt planBxBig">
													  					<input type="radio" name="planTopup">
													  					<div class="planBigCnt">
													  						<div class="planBigHead">
													  							<i class="fas fa-check-circle"></i>
															  					<h2>INR 379: UL Calls + 6 GB/84D</h2>
															  					<p>Valid for 84 days</p>
															  				</div>
														  					<div class="planBigDes">
														  						<p>INR 379: UL Calls+6 GB Data for 84 Days</p>
														  						<div class="bounsTag">
															  						<span class="badge badge-info">+ Bonus</span>
															  					</div>
														  					</div>
														  				</div>
														  				<div class="planBigPrice">
														  					<h5>Price 379.00 INR</h5>
														  				</div>
													  				</label>
													  			</div>
													  			<div class="planBxItem">
													  				<label class="planBxCnt planBxBig">
													  					<input type="radio" name="planTopup">
													  					<div class="planBigCnt">
													  						<div class="planBigHead">
													  							<i class="fas fa-check-circle"></i>
															  					<h2>INR79: 64 TT + 200 MB/28D</h2>
															  					<p>Valid for 84 days</p>
															  				</div>
														  					<div class="planBigDes">
														  						<p>Get Rs 64 Talktime + 200 MB data</p>
														  					</div>
														  				</div>
														  				<div class="planBigPrice">
														  					<h5>Price 379.00 INR</h5>
														  				</div>
													  				</label>
													  			</div>
													  			<div class="planBxItem">
													  				<label class="planBxCnt planBxBig">
													  					<input type="radio" name="planTopup">
													  					<div class="planBigCnt">
													  						<div class="planBigHead">
													  							<i class="fas fa-check-circle"></i>
															  					<h2>INR 379: UL Calls + 6 GB/84D</h2>
															  					<p>Valid for 84 days</p>
															  				</div>
														  					<div class="planBigDes">
														  						<p>INR 379: UL Calls+6 GB Data for 84 Days</p>
														  					</div>
														  				</div>
														  				<div class="planBigPrice">
														  					<h5>Price 379.00 INR</h5>
														  				</div>
													  				</label>
													  			</div>
													  			<div class="planBxItem">
													  				<label class="planBxCnt planBxBig">
													  					<input type="radio" name="planTopup">
													  					<div class="planBigCnt">
													  						<div class="planBigHead">
													  							<i class="fas fa-check-circle"></i>
															  					<h2>INR79: 64 TT + 200 MB/28D</h2>
															  					<p>Valid for 84 days</p>
															  				</div>
														  					<div class="planBigDes">
														  						<p>Get Rs 64 Talktime + 200 MB data</p>
														  						<div class="bounsTag">
															  						<span class="badge badge-info">+ Bonus</span>
															  					</div>
														  					</div>
														  				</div>
														  				<div class="planBigPrice">
														  					<h5>Price 379.00 INR</h5>
														  				</div>
													  				</label>
													  			</div>
													  			<div class="planBxItem">
													  				<label class="planBxCnt planBxBig">
													  					<input type="radio" name="planTopup">
													  					<div class="planBigCnt">
													  						<div class="planBigHead">
													  							<i class="fas fa-check-circle"></i>
															  					<h2>INR 379: UL Calls + 6 GB/84D</h2>
															  					<p>Valid for 84 days</p>
															  				</div>
														  					<div class="planBigDes">
														  						<p>INR 379: UL Calls+6 GB Data for 84 Days</p>
														  					</div>
														  				</div>
														  				<div class="planBigPrice">
														  					<h5>Price 379.00 INR</h5>
														  				</div>
													  				</label>
													  			</div>
													  			<div class="planBxItem">
													  				<label class="planBxCnt planBxBig">
													  					<input type="radio" name="planTopup">
													  					<div class="planBigCnt">
													  						<div class="planBigHead">
													  							<i class="fas fa-check-circle"></i>
															  					<h2>INR79: 64 TT + 200 MB/28D</h2>
															  					<p>Valid for 84 days</p>
															  				</div>
														  					<div class="planBigDes">
														  						<p>Get Rs 64 Talktime + 200 MB data</p>
														  					</div>
														  				</div>
														  				<div class="planBigPrice">
														  					<h5>Price 379.00 INR</h5>
														  				</div>
													  				</label>
													  			</div>
													  		</div>
												  		</div>
												  	</div>
												</div>
									       	</div>
									    </div>
								  	</div>
								  	<div class="rechargeStepItem text-right">
								  		<button type="button" class="btn btn-previous previous-btn">Previous</button>
								  		&nbsp;
										<button class="btn btnGradient btn-next"  type="button">Continue</button>
									</div>
								</fieldset>
								<fieldset>
									<div class="rechargeSummary">
										<div class="summaryHead">
											<h2>Recharge Summary</h2>
											<h5>Confirm recharge details</h5>
										</div>
										<div class="mobileConfirm">
											<img src="public/assets/website/img/op/1.png">
											<h2>+91-9898989898</h2>
										</div>
										<div class="summaryCnt">
											<!-- <div class="summeryItem">
												<p>Mobile Number:</p>
												<p><b>+91-9898989898</b> <a href="javascript:void(0);"><span class="fas fa-edit"></span></a></p>
											</div>
											<div class="summeryItem">
												<p>Operator:</p>
												<p><b>Vodafone</b> <a href="javascript:void(0);"><span class="fas fa-edit"></span></a></p>
											</div> -->
											<!-- <div class="summeryItem">
												<p>Plan:</p>
												<p><b>Topup</b> <a href="javascript:void(0);"><span class="fas fa-edit"></span></a></p>
											</div>
											<div class="summeryItem">
												<p>Validity:</p>
												<p><b>28 days</b></p>
											</div> -->
											
											<!-- <div class="summeryItem">
												<p>Recharge Amount:</p>
												<p><b>$150.00</b></p>
											</div>
											<div class="summeryItem">
												<p>Amount to be Paid:
													<span>Admin Commission</span>
												</p>
												<p><b>$15.50</b></p>
											</div> -->
											<div class="summeryPlanDesc">
												<h2>INR 379: UL Calls+6 GB/84D</h2>
												<h6>Valid for 84 days</h6>
												<p class="sumPlan">Local calls free & STD calls free & Roaming Incoming & Outgoing calls free & 300 Local & National SMS & 1 GB 3G/4G Data & Data Validity 84 days & For 3G/4G user - T&C apply</p>
											</div>
										</div>
										<div class="paymentInfoBx">
											<!-- <div class="summeryItem">
												<p>Amount to be Paid :</p>
												<p><b>$15.50</b></p>
											</div> -->
											<div class="payAmount">
												<h3>Payment Amount</h3>
												<h1>$363.50</h1>
											</div>
										</div>
										<div class="mt-20 text-right">
											<button type="button" class="btn btn-previous previous-btn">Previous</button>
											&nbsp;
											<button class="btn btnGradient btn-next" type="button">Make Payment</button>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="rechargeStepItem">
										
										<div class="paymentInfoBx mb-4">
											<div class="payAmount">
												<h3>Payment Amount</h3>
												<h1>$363.50</h1>
											</div>
										</div>
										<div class="couponInput"  data-toggle="modal" data-target="#exampleModal">
											<!-- <span class="">Apply Coupon Code </span> -->
											<span>Apply Coupon Code</span>
											<div class="coupanDiscount"><img src="public/assets/website/img/coupon.png"></div>
										</div>
										<div class="appliedCoupon">
											<h5>10% OFF Applied!</h5>
											<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
											<div class="cancelIcon"><i class="fas fa-times-circle"></i></div>
										</div>
										<h2>Select payment method to make payment</h2>
										<!-- <div class="form-group radioGroup mt-10">
											<label class="container_radio mr-3">Credit Card
										        <input type="radio" name="payments" value="1" class="required" checked="">
										        <span class="checkmark"></span>
										    </label>
										    <label class="container_radio mr-3">Wallet
										        <input type="radio" name="payments" value="2" class="required">
										        <span class="checkmark"></span>
										    </label>
										</div> -->
										<div class="form-group radioGroup mt-20">
											<!-- <label class="container_radio mr-3">
										        <input type="radio" name="payments" value="1" class="required" checked="">
												<i class="fas fa-credit-card"></i>
										    </label>
										    <label class="container_radio mr-3">
										        <input type="radio" name="payments" value="2" class="required">
										    	<i class="fas fa-wallet"></i>
										    </label> -->
										    <label class="container_radio  paymentchecked">
												<input type="radio" name="payments" value="1" class="required" checked="" />
												<span class="googleImg"><img src="public/assets/website/img/credit-card (3).png"> Credit Card</span>
											</label>
											<label class="container_radio  paymentchecked payPalBtn payPalBtn-1">
												<input type="radio" name="payments" value="2" class="required" />
												<span class="googleImg"><img src="public/assets/website/img/wallet.png"> Wallet</span>
											</label>
										    <label class="container_radio paymentchecked payPalBtn-1">
												<input type="radio" name="payments" value="3" class="required"/>
												<span class="googleImg"><img src="public/assets/website/img/apple.png"> Apple Pay</span>
											</label>
											<label class="container_radio paymentchecked gglPayBtn bottomBtm">
												<input type="radio" name="payments" value="4" class="required" />
												<span class="googleImg"><img src="public/assets/website/img/search.png">Google Pay</span>
											</label>
											<label class="container_radio paymentchecked payPalBtn payPalBtn-1 bottomBtm">
												<input type="radio" name="payments" value="5" class="required" />
												<span class="googleImg"><img src="public/assets/website/img/paypal.png">Paypal</span>
											</label>
										</div>
										<div class="paymentDiv applePay" id="paymentOption1">
											<div class="paymentInfoBx">
												<div class="summeryItem">
													<p>Stripe Fee :</p>
													<p><b>$5.00</b></p>
												</div>
												<div class="summeryItem">
													<p>Tax <span>(5%)</span> :
														
													</p>
													<p><b>$19.70</b></p>
												</div>
												<div class="summeryItem">
													<p>Coupon Discount <span>(30%)</span> :
														
													</p>
													<p class="CouponCode">-$19.70</p>
												</div>
												<div class="payAmount">
													<h3>Total Amount to Pay</h3>
													<h1>$388.20</h1>
												</div>
											</div>

											<div class="custom-radio-wrap">
												<div class="selectCard">
													<h6>Select Credit Card</h6>
													<div><button class="btn btnGradient" type="button" data-target="#add-new-card-details" data-toggle="modal">Add New Card</button></div>
												</div>
											  <form>
											  	<div class="radio-group-btn">
												    <input type="radio" id="female" name="gender"  checked=""/>
												    <label for="female" class="label-text cardImg creImg"><img src="public/assets/website/img/credit-card.png"> XXXX XXXX 3498</label>
												</div>
												<div class="radio-group-btn">
												    <input type="radio" id="male" name="gender" />
												    <label for="male" class="label-text cardImg creImg"><img src="public/assets/website/img/credit-card-1.png"> XXXX XXXX 3498</label>
												</div>
												<div class="radio-group-btn">
												    <input type="radio" id="male1" name="gender" />
												    <label for="male1" class="label-text cardImg creImg"><img src="public/assets/website/img/credit-card-2.png"> XXXX XXXX 3498</label>
												</div>
												<div class="radio-group-btn">
												    <input type="radio" id="male2" name="gender" />
												    <label for="male2" class="label-text cardImg creImg"><img src="public/assets/website/img/credit-card-3.png"> XXXX XXXX 3498</label>
												</div>
											  </form>
											</div>
											<div class="paymtAct mt-30">
												<button class="btn btnGradient PayNowLoader" type="button">Pay Now</button>
											</div>
										</div>
										<div class="paymentDiv applePay" id="paymentOption2" style="display: none;">
											<div class="walletPay">
												<p><b>$363.50</b> amount will be deducted from your wallet balance.</p>
											</div>
											<div class="paymtAct mt-30">
												<button class="btn btnGradient PayNowLoader" type="button">Pay Now</button>
											</div>
										</div>
										<div class="paymentDiv applePay" id="paymentOption3" style="display: none;">
											<!-- <div class="walletPay">
												<p><b>$363.50</b> amount will be deducted from your wallet balance.</p>
											</div> -->
											<div class="paymtAct mt-30">
												<button class="btn btnGradient PayNowLoader" type="button">Pay Now</button>
											</div>
										</div>
										<div class="paymentDiv applePay" id="paymentOption4" style="display: none;">
											<!-- <div class="walletPay">
												<p><b>$363.50</b> amount will be deducted from your wallet balance.</p>
											</div> -->
											<div class="paymtAct mt-30">
												<button class="btn btnGradient PayNowLoader" type="button">Pay Now</button>
											</div>
										</div>
										<div class="paymentDiv applePay" id="paymentOption5" style="display: none;">
											<!-- <div class="walletPay">
												<p><b>$363.50</b> amount will be deducted from your wallet balance.</p>
											</div> -->
											<div class="paymtAct mt-30">
												<button class="btn btnGradient PayNowLoader" type="button">Pay Now</button>
											</div>
										</div>


										<!-- <div class="otherPayments">
											<h2>Other Payment Methods</h2>
											<label class="paymentchecked">
												<input type="radio" name="toggler" value="yes" checked=""/>
												<span class="googleImg"><img src="public/assets/website/img/apple.png"> Apple Pay</span>
											</label>
											<label class="paymentchecked payPalBtn-1">
												<input type="radio" name="toggler" value="no" />
												<span class="googleImg"><img src="public/assets/website/img/search.png">Google Pay</span>
											</label>
											<label class="paymentchecked payPalBtn">
												<input type="radio" name="toggler" value="maybe" />
												<span class="googleImg"><img src="public/assets/website/img/paypal.png">Paypal</span>
											</label>

											<div id="group1">
												<div id="yes" class="shown applePay">
												  <p>
												    <div class="paymentInfoBx">
														<div class="summeryItem">
															<p>Stripe Fee :</p>
															<p><b>$5.00</b></p>
														</div>
														<div class="summeryItem">
															<p>Tax <span>(5%)</span> :
																
															</p>
															<p><b>$19.70</b></p>
														</div>
														<div class="payAmount">
															<h3>Total Amount to Pay</h3>
															<h1>$388.20</h1>
														</div>
													</div>
													<div class="couponInput">
														<input type="text" name="coupon" placeholder="Apply Coupon Code">
													</div>
												  </p>
												  <div class="paymtAct mt-30 text-center">
													<button class="btn btnGradient PayNowLoader" type="button">Pay Now</button>
												  </div>
												</div>
												<div id="no" class="hidden">
												  <p>
												   2
												  </p>
												  <div class="paymtAct mt-30">
													<button class="btn btnGradient PayNowLoader" type="button">Pay Now</button>
												  </div>
												</div>
												<div id="maybe" class="hidden">
												  <p>
												    3
												  </p>
												  <div class="paymtAct mt-30">
													<button class="btn btnGradient PayNowLoader" type="button">Pay Now</button>
												  </div>
												</div>
											</div>
										</div> -->
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<%- include ('user_layout/footer') %>
<!-- FOOTER-SECTION -->


<section class="sideBarView sideBarViewLeft ViewPlanSlider" id="planSidebar">
	<div class="sidebarInnerBlk">
        <div class="sidebarHeader">
            <h2>Browse Plans</h2>
            <div class="closeSideBar">
                <span onclick="closeNav('planSidebar');" class="fas fa-times"></span>
            </div>
        </div>
        <div class="sidebarBody">
        	<div class="planInfoBody">
	        	<div class="planInfo">
	        		<h2>Browse Plans of Vodafone</h2>
	        	</div>
	        	<div class="planInfoTab">
	        		<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="planTab-tab" data-toggle="tab" href="#planTab" role="tab" aria-controls="planTab" aria-selected="true">Popular</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="planTab1-tab" data-toggle="tab" href="#planTab1" role="tab" aria-controls="planTab1" aria-selected="false">Special Recharge</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="planTab2-tab" data-toggle="tab" href="#planTab2" role="tab" aria-controls="planTab2" aria-selected="false">Topup</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="planTab3-tab" data-toggle="tab" href="#planTab3" role="tab" aria-controls="planTab3" aria-selected="false">2G/3G/4G Data</a>
					  </li>
					</ul>
	        	</div>
	        	<div class="planTabCnt">
	        		<div class="planColBlk headCol">
	        			<div class="planColItem">Talktime</div>
	        			<div class="planColItem">Validity</div>
	        			<div class="planColItem planDesc">Description</div>
	        			<div class="planColItem planPrice">Price</div>
	        		</div>
	        		<div class="tab-content">
					  <div class="tab-pane active" id="planTab" role="tabpanel" aria-labelledby="planTab-tab">
					  	<div class="planScroll">
						  	<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">Unlimited</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">81.75</div>
			        			<div class="planColItem">28 dyas</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">10 Days</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">Unlimited</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">81.75</div>
			        			<div class="planColItem">28 dyas</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">10 Days</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">Unlimited</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">81.75</div>
			        			<div class="planColItem">28 dyas</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">10 Days</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        	</div>
					  </div>
					  <div class="tab-pane" id="planTab1" role="tabpanel" aria-labelledby="planTab1-tab">
					  	<div class="planScroll">
						  	<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">Unlimited</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">81.75</div>
			        			<div class="planColItem">28 dyas</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">10 Days</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        	</div>
					  </div>
					  <div class="tab-pane" id="planTab2" role="tabpanel" aria-labelledby="planTab2-tab">
					  	<div class="planScroll niceScrollView">
						  	<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">Unlimited</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">81.75</div>
			        			<div class="planColItem">28 dyas</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">10 Days</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">Unlimited</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">81.75</div>
			        			<div class="planColItem">28 dyas</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">10 Days</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
		        		</div>
					  </div>
					  <div class="tab-pane" id="planTab3" role="tabpanel" aria-labelledby="planTab3-tab">
					  	<div class="planScroll">
						  	<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">Unlimited</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">81.75</div>
			        			<div class="planColItem">28 dyas</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        		<div class="planColBlk">
			        			<div class="planColItem">39.37</div>
			        			<div class="planColItem">10 Days</div>
			        			<div class="planColItem planDesc">Talktime Rs. 30 & 100 MB 2G/3G/4G Data & Data Validity 28 day(s) & Talktime valid for 28 day(s)</div>
			        			<div class="planColItem planPrice"><button class="priceBtn" type="button">$150</button></div>
			        		</div>
			        	</div>
					  </div>
					</div>
	        	</div>
        	</div>
        </div>
        <div class="sidebarFooter">
            <!-- <div class="filterBtnBlk">
                <a href="javascript:void(0);" class="btn btnGradient">Done</a>
            </div> -->
        </div>
    </div>
</section>
<div class="modalBackdrop"></div>

<div id="recLoader" class="rechargeLoader" style="display: none;">
	<div class="recLoaderCnt">
		<span class="loaderImg"><img class="animate__animated animate__jackInTheBox animate__infinite animate__1s" src="public/assets/website/img/ico_qvaring.png"></span>
		<h2>Your recharge being processed, don't refresh page.</h2>
	</div>
</div>


<div class="modal csModal fade" id="promotionConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog login-modal" role="document">
	    <div class="modal-content">
	      <div class="modal-header noTitleHead cross-icon">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div class="modalHead">
		        <img src="public/assets/website/img/offer_ico.png">
		        <h3>Promotion Offer Confirmation</h3>
		        <p>Promotion will start on <b>12 Oct, 2020</b> so are you want to recharge directly or want to book for this date.</p>
		    </div>
	        <form class="login-form">
	        	<div class="rechTypeOpt">
	        		<div class="rechTypeOptItem">
			        	<label>
			        		<input type="radio" name="rechargeType">
			        		<span>Recharge Now</span>
			        	</label>
			        </div>
			        <div class="rechTypeOptItem">
			        	<label>
			        		<input type="radio" name="rechargeType">
			        		<span>Book For Offer</span>
			        	</label>
			        </div>
		        </div>
	        </form>
	      </div>
	      <div class="csModalFooter">
            <div class="loginBtn">
            	<button class="btn btnGradient btn-next" type="button">Continue</button>
            </div>
	      </div>
	    </div>
	</div>
</div>


<!-- Read-more-modal -->
<div class="modal csModal fade" id="exampleModalbonus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog login-modal readModal" role="document">
    <div class="modal-content">
      <div class="modal-header cross-icon">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="readMoreModal">
        	<h4>Bonus Info</h4>
        	<p>Terms & Conditions</p>
        </div>
        <div class="readContent">
        	<h6>Promotion Type</h6>
        	<span>Cubacel Triple Recharge!</span>
        </div>
        <div class="readContent">
        	<h6>Operator</h6>
        	<span>Cubacel Reserva tu Recharge</span>
        </div>
        <div class="readContent">
        	<h6>Presale date</h6>
        	<span>Reserve your top-up until 22-11-2020</span>
        </div>
        <div class="readContent">
        	<h6>Minimum amount</h6>
        	<span>20 CUC</span>
        </div>
        <div class="readContent">
        	<h6>Bonus validity</h6>
        	<span>The bonus will expire 30 days after the top-up <br> has been received.</span>
        </div>

        <div class="otherDetail readMoreModal">
        	<h4>Others</h4>
        	<ul class="otherList">
        		<li>For every 20 CUC of recharge sent, we'll deliver 20 CUC and a bonus of 40 CUC.</li>
        		<li class="secList">You can choose the amount to be recharged from 20 CUC and above. We indicate in each case the total amount of CUC that will be received (Balance + Bonus) is included in the offer.</li>
        		<li class="secList borderBottom">Customers can reserve a Cubacel top-up from today until the 22nd of November 2020 at 23:59 (Cuban time).</li>
        	</ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Coupon-Modal -->
<div class="modal csModal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apply Coupon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">                                              
            <div class="input-group form-group password-field login-field mb-0 applyCouponBtn">
                <input name="otp" placeholder="Enter Coupon Code" type="text">
	            <div class="applyBtn applyField">
		        	<button type="button" class="btn btn-primary">Apply</button>
		    	</div>
            </div>
        </div>

        <div class=" offerImg">
        	<!-- <h4>Flat $100 saving</h4> -->
	        <div class="media discountImg">
			  <!-- <img class="mr-3" src="public/assets/website/img/savings.png" alt="Generic placeholder image"> -->
			  <div class="media-body disText">
			    <h5 class="mt-0">$100 Saving</h5>
			    <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
			  </div>
			</div>
		  	<div class="validityDate">
		  		<div class="disDate">
		  			<span>Discount</span>
		  			<h5>$100.00</h5>
		  		</div>
		  		<div class="disDate">
		  			<span>Valid Till</span>
		  			<h5>12-11-2020</h5>
		  		</div>
		  		<div class="applyBtn">
		        	<button type="button" class="btn btn-primary">Apply</button>
		    	</div>
		  	</div>
		</div>

        <div class=" offerImg mt-3">
        	<!-- <h4>10% OFF</h4> -->
	        <div class="media discountImg">
			  <!-- <img class="mr-3" src="public/assets/website/img/price-tag.png" alt="Generic placeholder image"> -->
			  <div class="media-body disText">
			    <h5 class="mt-0">10% Discount</h5>
			    <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
			  </div>
			</div>
		  	<div class="validityDate">
		  		<div class="disDate">
		  			<span>Discount</span>
		  			<h5>10% OFF</h5>
		  		</div>
		  		<div class="disDate">
		  			<span>Valid Till</span>
		  			<h5>12-11-2020</h5>
		  		</div>
		  		<div class="applyBtn">
		        	<button type="button" class="btn btn-primary">Apply</button>
		    	</div>
		  	</div>
		</div>
      </div>
    </div>
  </div>
</div>

<!-- ADD-NEW-CARD-MODAL -->

<div class="modal csModal fade" id="add-new-card-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog login-modal" role="document">
    <div class="modal-content">
      <div class="modal-header cross-icon">
      	<h5 class="modal-title" id="exampleModalLabel">Add New Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      	<div class="modal-body login-sec transferImg">
        	<img src="public/assets/website/img/add-card.png">
        	<h3>Add Card</h3>
	        <form class="login-form">
	        	<div class="form-group contact-input">
                    <div class="input-group form-group contact-field login-field otp-input">
                        <input name="otp" placeholder="Card Holder Name" type="text">
					</div>
					<div id="card-element">
				      <!-- A Stripe Element will be inserted here. -->
				    </div>
                </div>
	        </form>
      	</div>
      <div class="modal-footer btn-footer addCard">
        <div class="loginBtn">
        	<a href="recharge-page.html">Add Card</a>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
	// Create a Stripe client.
	var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');

	// Create an instance of Elements.
	var elements = stripe.elements();

	// Custom styling can be passed to options when creating an Element.
	// (Note that this demo uses a wider set of styles than the guide below.)
	var style = {
	  base: {
	    color: '#32325d',
	    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
	    fontSmoothing: 'antialiased',
	    fontSize: '16px',
	    '::placeholder': {
	      color: '#aab7c4'
	    }
	  },
	  invalid: {
	    color: '#fa755a',
	    iconColor: '#fa755a'
	  }
	};

	// Create an instance of the card Element.
	var card = elements.create('card', {style: style});

	// Add an instance of the card Element into the `card-element` <div>.
	card.mount('#card-element');

	// Handle real-time validation errors from the card Element.
	card.on('change', function(event) {
	  var displayError = document.getElementById('card-errors');
	  if (event.error) {
	    displayError.textContent = event.error.message;
	  } else {
	    displayError.textContent = '';
	  }
	});

	// Handle form submission.
	var form = document.getElementById('payment-form');
	form.addEventListener('submit', function(event) {
	  event.preventDefault();

	  stripe.createToken(card).then(function(result) {
	    if (result.error) {
	      // Inform the user if there was an error.
	      var errorElement = document.getElementById('card-errors');
	      errorElement.textContent = result.error.message;
	    } else {
	      // Send the token to your server.
	      stripeTokenHandler(result.token);
	    }
	  });
	});

	// Submit the form with the token ID.
	function stripeTokenHandler(token) {
	  // Insert the token ID into the form so it gets submitted to the server
	  var form = document.getElementById('payment-form');
	  var hiddenInput = document.createElement('input');
	  hiddenInput.setAttribute('type', 'hidden');
	  hiddenInput.setAttribute('name', 'stripeToken');
	  hiddenInput.setAttribute('value', token.id);
	  form.appendChild(hiddenInput);

	  // Submit the form
	  form.submit();
	}
</script> 
<script type="text/javascript">
	var input5 = document.querySelector("#mobilenumber");
	window.intlTelInput(input5, {
		separateDialCode: true
	});	
</script>

<script type="text/javascript">
	$("input:radio[name='toggler']").click(function() {
	  $("#group1 .hidden").hide().removeClass("shown");
	  $("#" + $(this).val()).show();
	  setTimeout(function() {
	    $(".hidden").addClass("shown");
	  }, 0);
	});
</script>

</body>
</html>