
<!DOCTYPE html>
<html>
<head>
  <title>Qvaring</title>
  <link href="/public/assets/website/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/website/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/website/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    
    <link href="/public/assets/website/css/style.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/website/css/responsive.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/public/assets/website/css/cropper.css">
    <link href="/public/assets/website/css/user_custom.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/developer/css/style.css" rel="stylesheet" type="text/css">

    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
</head>

  <link href="https://fonts.google.com/">
  <style>
 
  </style>
</head>

<body>
  
    <% if(typeof error == 'undefined' || typeof error == 'null' || typeof error == '') {%>

<table style="width:100%;text-align: center;width:100%; max-width:700px;margin: 50px auto; background-color:#f2f2f2;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);font-family: 'Asap', sans-serif;border-collapse: collapse;">
  

  <tr style=" text-align: center;background-color: #fff;">

    <td style="padding:20px 0px;"><img style="width: 100%;max-width: 170px;" src="/public/email_icon/qvaring_logo.png"></td>
   
  </tr>
  <td style="background-color: #f2f2f2;padding:25px;text-align: center;">
    <form  id="UpdatePassword" name="UpdatePassword" method="POST">
    <table style="text-align: center;background-color: #fff;border-radius: 5px;box-shadow: 0px 0px 3px 0px rgba(245, 245, 245, 1);max-width: 700px;width: 100%;padding: 15px;">

    <tr>
      <td style="font-size: 22px; color:#373535; font-weight: 700;padding-top: 15px;">Reset Password</td>
      
    </tr>
    
    <tr style="">
      <td style="padding: 20px 15px 0px; font-size: 17px;line-height: 25px;color: rgba(135, 135, 135, 1);text-align: left;">
        <label>New Password</label><br>
        <input  type="password" name="password" id="password" style="border:1px solid #ddd;width: 100%;padding:15px; max-width: 555px;border-radius: 5px;" placeholder="Enter password" autocomplete="off">
      </td>
      
    </tr>

    <tr style="">
      <td style="padding: 20px 15px 0px; font-size: 17px;line-height: 25px;color: rgba(135, 135, 135, 1);text-align: left;">
        <label>Confirm Password</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" style="border:1px solid #ddd;width: 100%;padding:15px; max-width: 555px;border-radius: 5px;" placeholder="Enter confirm  password" autocomplete="off">
      </td>
      
    </tr>
    <input type="hidden" value="<%= resData.email %>" id="email" name="email">
    <input type="hidden" value="<%= resData.password_token %>" id="password_token" name="password_token">
    <input type="hidden" value="<%= resData.user_type %>" id="user_type" name="user_type">
    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>"/>
    <tr>
       <td style="padding: 40px 0px 30px;">
        <input type="submit" id="subclick" style="border: none;cursor: pointer;outline: none !important;background-color: #C63266; border-radius: 50px; color: #fff;text-decoration: none;font-weight: 600; padding: 15px 35px;
        " href="javascript:void(0)" value="Reset Password"></td>
      
    </tr>


    </table>
</form>

  </td>
  
</table>

<%}else{ %>
  <h2 style="padding: 150px;"> <%= error ; %></h2>
<%}%>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script>

// $(document).ready(function () {  
// $("#UpdatePassword").validate({
$("form[name='UpdatePassword']").validate({ 
    rules: {
       
    password: {
        required: true,
        minlength: 8,
       passwordFunction : true
       
    },
    confirmPassword: {
        required: true,
        minlength: 8,
        equalTo: "#password"
    }
    },
    messages: {
     
      password: {
        required: "The password field is mandatory",
        minlength: "Password length should not be  less than 8 characters."
      },
      confirmPassword: {
        required: "The password field is mandatory",
        minlength: "Password length should not be  less than 8 characters.",
        equalTo: "Please enter the same password as above"
      }
      
    },

    submitHandler: function (form) {

      var loader = '<div class="ajax-load text-center">'
        + '<p><img src="/public/assets/website/img/loader.gif">Loading...</p>'
        + '</div>';
        var url = window.location.origin + "/update-Password";
        var form = $("#UpdatePassword");   
        var formData = new FormData(form[0]);
       // formData.append('email', $('#dev_email').val());

        var customer = window.location.search;
        var type = window.location.search.split('=')[1];
        var userType;

        userType = 4;

        $.ajax({
            method: "POST",
            type: "POST",
            url: url,
            headers: {
                'Accept': 'application/json',
                "Cache-Control": "no-cache, no-store, must-revalidate",
                "Pragma": "no-cache",
                "Expires": "0",
                "X-USER-TYPE": userType
            },
            processData: false,  // Important!
            contentType: false,
            data: formData,
            dataType: 'json',
            cache: false,
            beforeSend: function () {
                    //$("#messages").append(loader);
                },
            success: function (response) {
                $('#forgotButton').prop('disabled', false);
                
                toastr.remove();
                if (response.code == 200) {
                   // $('.resetButton').html("Submit");
                   if(response.status == 'fail'){
                    toastr.error(response.message);
                   }else{
                    toastr.success(response.message);
                   }
                    

                    setTimeout(function () {
                   // location.reload();
                   document.location = "/";
                  }, 500);

                } else {
                   // $('#forgotButton').prop('disabled', false);
                   // $('.resetButton').html("Submit");
                    toastr.remove();
                    toastr.error("something went wrong");
                    return false;
                }
            }, error: function (textStatus, errorThrown) {
                toastr.remove();
                console.log(errorThrown)
                toastr.error("Password should be contain lowerCase, upperCase, symbol, numeric.");
            }
        });
    }
});
// });
// 



jQuery.validator.addMethod("passwordFunction", function(value, element) {
   // return this.optional(element) || (parseFloat(value) > 0);
    var str = value;
   
    if(str.match(/[a-z]/g) && str.match( 
        /[A-Z]/g) && str.match( 
        /[0-9]/g) && str.match( 
        /[^a-zA-Z\d]/g) && str.length >= 8) {
        toastr.remove();
    return true ;
    }else {
       
        return false;
    }
}, "Password should be contain lowerCase, upperCase, symbol, numeric.");

</script>
<script>
 let stateObj = { id: "100" }; 
      window.history.replaceState(stateObj, 
           "", "/"); 
</script>