
/** Form Body Material **/
.form-body-material .form-control {
	height: 44px;
    margin: 0;
    padding: 0 20px;
    background: #f8f8f8 none repeat scroll 0 0;
	border: 0px;
	border-bottom: 2px solid #ddd;
    font-family: 'Roboto', FontAwesome;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.form-body-material .form-control:focus {
	outline: 0;
	background: #f8f8f8 none repeat scroll 0 0;
    border: 0px;
	border-bottom: 2px solid #6753D8;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

/** Form Body Material **/
/** Form header Classic **/
.form-header-classic .form-wizard-step-icon {
	display: inline-block;
	width: 40px; 
	height: 40px; 
	margin-top: 4px; 
	background: #ddd;
	font-size: 18px;
	font-weight: 600; 
	color: #fff; 
	line-height: 40px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
}
.form-header-classic .form-wizard-step.activated .form-wizard-step-icon {
	background: #fff; 
	border: 1px solid #ccc; 
	color: #ccc; 
	line-height: 38px;
}
.form-header-classic .form-wizard-step.active .form-wizard-step-icon {
	width: 48px; 
	height: 48px; 
	margin-top: 0; 
	background: #2196f3; 
	font-size:18px;
	font-weight: 600; 
	line-height: 48px;
}
.form-header-classic .form-wizard-step p { color: #ccc;font-weight: 600;font-size: 18px; }
.form-header-classic .form-wizard-step.activated p { color: #ccc; }
.form-header-classic .form-wizard-step.active p { color: #2196f3;font-weight: 600;font-size: 18px; }
/** Form header Classic **/
/** Form header Modarn **/
.form-header-modarn .form-wizard-step{
	padding-top:10px !important;
	border:2px solid #fff;
	background:#ccc;
}
.form-header-modarn .form-wizard-step.active{
	background:#6753D8;
}
.form-header-modarn .form-wizard-step.activated{
	background:#6753D8;
}
.form-header-modarn .form-wizard-progress { 
	height: 0px; 
	display:none;
}
.form-header-modarn .form-wizard-step-icon {
	display: inline-block;
	width: 40px; 
	height: 40px; 
	margin-top: 4px; 
	background: #ddd;
	font-size: 16px; 
	color: #777; 
	line-height: 40px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
}
.form-header-modarn .form-wizard-step.activated .form-wizard-step-icon {
	background: #6753D8; 
	border: 1px solid #fff; 
	color: #fff; 
	line-height: 38px;
}
.form-header-modarn .form-wizard-step.active .form-wizard-step-icon {
	background: #fff; 
	border: 1px solid #fff; 
	color: #6753D8; 
	line-height: 38px;
}
.form-header-modarn .form-wizard-step p { color: #fff; }
.form-header-modarn .form-wizard-step.activated p { color: #fff; }
.form-header-modarn .form-wizard-step.active p { color: #fff; }
/** Form header Modarn **/
/** Form header Stylist **/
.form-header-stylist .form-wizard-step{
	position:relative;
	padding-top:10px !important;
	border:0px solid #fff;
	background:#ccc;
}
.form-header-stylist .form-wizard-step::before {
	content: '';
	position: absolute;
	left: 0%;
	top: -2%;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 20px solid #ccc;
	clear: both;
	z-index: 999;
}
.form-header-stylist .form-wizard-step.active::after {
	content: '';
	position: absolute;
	right: -20px;
	top: -2%;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 20px solid #6753D8;
	clear: both;
	z-index: 9999;
}
.form-header-stylist .form-wizard-step.activated::after {
	content: '';
	position: absolute;
	right: -20px;
	top: -2%;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 20px solid #6753D8;
	clear: both;
	z-index: 9999;
}
.form-header-stylist .form-wizard-step.active{
	background:#6753D8;
}
.form-header-stylist .form-wizard-step.activated{
	background:#6753D8;
}
.form-header-stylist .form-wizard-progress { 
	height: 0px; 
	display:none;
}
.form-header-stylist .form-wizard-step-icon {
	display: inline-block;
	width: 40px; 
	height: 40px; 
	margin-top: 4px; 
	background: #ddd;
	font-size: 16px; 
	color: #777; 
	line-height: 40px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
}
.form-header-stylist .form-wizard-step.activated .form-wizard-step-icon {
	background: #6753D8; 
	border: 1px solid #fff; 
	color: #fff; 
	line-height: 38px;
}
.form-header-stylist .form-wizard-step.active .form-wizard-step-icon {
	background: #fff; 
	border: 1px solid #fff; 
	color: #6753D8; 
	line-height: 38px;
}
.form-header-stylist .form-wizard-step p { color: #fff; }
.form-header-stylist .form-wizard-step.activated p { color: #fff; }
.form-header-stylist .form-wizard-step.active p { color: #fff; }
/** Form header Stylist **/
.form-wizard strong { font-weight: 500; }
.form-wizard a, .form-wizard a:hover, .form-wizard a:focus {
	text-decoration: none;
}
.form-wizard h4  span{
	float:right;
	font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}
.form-wizard table tr th{font-weight:normal;}
.form-wizard img { max-width: 100%; }
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	position: absolute;
	margin-top: 9px;
	margin-left: -20px;
}
.form-control option:hover, .form-control option:checked  {
    box-shadow: 0 0 10px 100px #6753D8 inset;
}
.form-control:-moz-placeholder { color: #888; }
.form-control:-ms-input-placeholder { color: #888; }
.form-control::-webkit-input-placeholder { color: #888; }

.form-wizard label {color: #333; }
.form-wizard label span { color:#444; }


.form-wizard .success h3{
	color: #6753D8;
	text-align: center;
	margin: 20px auto !important;
}
.form-wizard .success .success-icon {
	color: #6753D8;
	font-size: 100px;
	border: 5px solid #6753D8;
	border-radius: 100px;
	text-align: center !important;
	width: 110px;
	margin: 25px auto;
}
.form-wizard .progress-bar {
	background-color: #2196f3;
}
.form-wizard-steps{ 
	margin:auto; 
	overflow: hidden; 
	position: relative; 
	margin-top: 20px;
}
.form-wizard-progress { 
    position: absolute;
    top: 24px;
    left: 125px;
    width:80%;
    height: 1px;
    background: #ddd;
}
.form-wizard-progress-line { 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 1px; 
	background: #ddd; 
}
.form-wizard-tolal-steps-3 .form-wizard-step { 
	position: relative;
	float: left; 
	width: 33.33%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-4 .form-wizard-step { 
	position: relative; 
	float: left; 
	width:20%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-5 .form-wizard-step { 
	position: relative;
	float: left;
	width: 20%;
	padding: 0 5px;
}
.form-wizard fieldset { 
	display: none; 
	text-align: left; 
	border:0px !important;
	background:transparent;
	padding: 0 !important;
}
.form-wizard-buttons { text-align: right; }
.form-wizard .input-error { border-color: #6753D8;}
/** image uploader **/
.image-upload a[data-action] {
  cursor: pointer;
  color: #555;
  font-size: 18px;
  line-height: 24px;
  transition: color 0.2s;
}
.image-upload a[data-action] i {
  width: 1.25em;
  text-align: center;
}
.image-upload a[data-action]:hover {
  color: #6753D8;
}
.image-upload a[data-action].disabled {
  opacity: 0.35;
  cursor: default;
}
.image-upload a[data-action].disabled:hover {
  color: #555;
}
.settings_wrap{
	margin-top:20px;
}
.image_picker .settings_wrap {
  overflow: hidden;
  position: relative;
}
.image_picker .settings_wrap .drop_target,
.image_picker .settings_wrap .settings_actions {
  float: left;
}
.image_picker .settings_wrap .drop_target {
  margin-right: 18px;
}
.image_picker .settings_wrap .settings_actions {
	float: left;
	margin-top: 100px;
	margin-left: 20px;
}
.settings_actions.vertical a {
  display: block;
}
.drop_target {
	position: relative;
	cursor: pointer;
	transition: all 0.2s;
    width: 250px;
    height: 250px;
    background: #f2f2f2;
    border-radius: 100%;
    margin: 0 auto 25px auto;
    overflow: hidden;
    border: 8px solid #E0E0E0;
}
.drop_target input[type="file"] {
  visibility: hidden;
}
.drop_target::before {
	content: 'Drop Hear';
	font-family: FontAwesome;
	position: absolute;
	display: block;
	width: 100%;
	line-height: 220px;
	text-align: center;
	font-size: 40px;
	color: rgba(0, 0, 0, 0.3);
	transition: color 0.2s;
}
.drop_target:hover,
.drop_target.dropping {
  background: #f80;
  border-top-color: #cc6d00;
}
.drop_target:hover:before,
.drop_target.dropping:before {
  color: rgba(0, 0, 0, 0.6);
}
.drop_target .image_preview {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 2;
}

