


@media only screen and (max-width: 991px) and (max-width: 1200px) {
	.home-link:hover:after {
	    width: 4% !important;
	}
	.nav_link:after {
	    left: 0px !important;
	}
	.nav_link:hover:after {
	    width: 5% !important;
	}
	.text-white h1 {
	    font-size: 40px !important;
	    margin-top: -10px !important;
	}
	.app-download-content .btn-box .play-store-btn {
	    margin: 15px 0px 30px 15px !important;
	}
	.login-text {
	    margin: 22px 0px 25px !important;
	}
	.nav-text li a.btn {
	    margin-left: 10px !important;
	    max-width: 170px !important;
	}
}


@media only screen and (max-width: 1199px) {
.savedCardItem {
    width: 50%;
}
}
@media only screen and (min-width: 992px) {
.profile-msg-ntfctn {
    order: 3;
}
}
@media only screen and (max-width: 991.99px) {
.header-section	.container {
    position: relative;
}
.header-section .navbar-toggler {
    margin-left: 18px;
    padding: 0;
    width: 36px;
    height: 36px;
}
.navbar-toggler-icon {
    width: 26px;
}
.profile-msg-ntfctn {
    margin-left: auto;
}
.nav-text > li{
	margin-left: 0;
}
.nav-text > li a.nav-link {
    padding: 10px 0px;
    font-size: 18px;
}
.nav_link:after {
    bottom: 5px;
}
.chatHeaderIcon i {
    font-size: 18px !important;
}
.reply-icon i {
    font-size: 26px !important;
}
.reply-icon.reply-send i {
    font-size: 20px !important;
}
.message-main-sender {
    margin-left: 20% !important;
    max-width: 80%;
}
.message-main-receiver {
    max-width: 80%;
}
}
@media screen and (min-width: 641px) and (max-width: 991px) {
    .conversation {
        flex: 0 0 60%;
        -webkit-flex: 0 0 60%;
    }
    .sideHistory {
        flex: 0 0 40%;
        -webkit-flex: 0 0 40%;
    }
}
@media only screen and (max-width: 767px) and (max-width: 991px) {
	.gray-light-bg {
	    margin-top: 40px !important;
	}
	.shape-bottom img.bottom-shape {
	    bottom: -5px !important;
	}
	.pt-100 {
	    padding: 80px 0px 70px !important;
	}
	.home-link:hover:after {
	    width: 6% !important;
	}
	.nav_link:after {
	    left: 0px !important;
	}
	.nav_link:hover:after {
	    width: 6%;
	}
	.login-text {
	    margin: 22px 0px 25px !important;
	}
	.nav-text li a.btn {
	    margin-left: 10px !important;
	    max-width: 170px !important;
	}
	.chatHistoryAvatarIcon img {
    height: 45px;
    width: 45px;
}
}
@media only screen and (max-width: 767px) {
.nameIc {
    display: none;
}
.user-menu-img img {
    margin-right: 0;
}
}
@media only screen and (max-width: 576px) and (max-width: 766px) {
	.gray-light-bg {
	    margin-top: 30px !important;
	}
	.home-link:hover:after {
	    width: 28px !important;
	}
	.nav_link:after {
	    left: 0px !important;
	}
	.nav_link:hover:after {
	    width: 28px !important;
	}
	#uc_new_service284059 .new_services {
	    margin-bottom: 35px !important;
	}
	.login-text {
	    margin: 22px 0px 25px !important;
	}
	.nav-text li a.btn {
	    margin-left: 10px !important;
	    max-width: 170px !important;
	}
}



@media only screen and (max-width: 640.98px) {
	.conversation {
    flex: 0 0 0%;
    -webkit-flex: 0 0 0%;
    -webkit-transition: flex 0.3s ease;
    transition: flex 0.3s ease;
}
.sideHistory {
    flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -webkit-transition: flex 0.3s ease;
    transition: flex 0.3s ease;
}
.chatBack i {
    color: #b2b2b2;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}
.message-text {
    font-weight: 400;
    font-size: 16px;
}
.name-meta {
    font-size: 18px;
}
.chatHistoryAvatarIcon img {
    height: 60px;
    width: 60px;
}
}
@media only screen and (max-width: 320px) and (max-width: 575px) {
	.home-link:hover:after {
	    width: 28px !important;
	}
	.nav_link:after {
	    left: 0px !important;
	}
	.nav_link:hover:after {
	    width: 28px !important;
	}
	.img-logo img {
	    max-width: 130px !important;
	}
	.text-white h1 {
	    font-size: 30px !important;
	}
	.app-download-content .btn-box .play-store-btn {
	    margin: 15px 0px 30px 0px !important;
	}
	.pt-100 {
	    padding: 90px 0px 50px !important;
	}
	.shape-bottom img.bottom-shape {
	    bottom: -2px !important;
	}
	#uc_new_service284059 .new_services {
	    margin-bottom: 30px !important;
	}
	.play-store-img img {
		margin-top: 15px !important;
	}
	.feature-heading h1 {
	    font-size: 30px !important;
	}
	.footer-sec p {
	    font-size: 14px !important;
	}
	.login-text {
	    margin: 22px 0px 25px !important;
	}
	.nav-text li a.btn {
	    margin-left: 10px !important;
	    max-width: 170px !important;
	}
	.login-sec h3 {
	    font-size: 21px;
	}
	.loginBtn {
	    margin-left: -7px;
	}
	.loginBtn button {
	    margin-top: 15px !important;
	}
}

@media only screen and (max-width: 479px){
.savedCardItem {
    width: 100%;
}
}
@media only screen and (max-width: 420px){
.profile-msg-ntfctn ul li {
    margin-left: 12px;
}
.header-section .navbar-toggler {
    margin-left: 15px;
}
.img-logo img {
    max-width: 110px !important;
}
.header-section {
    padding: 10px 0px;
}
}
@media only screen and (max-width: 350px){
.profile-msg-ntfctn ul li {
    margin-left: 6px;
}
.header-section .navbar-toggler {
    margin-left: 9px;
}
.img-logo img {
    max-width: 100px !important;
}
}