.error {
    color: red!important;
}


.customCountry .iti__flag-container {
    height: 50px;
}
.form-group.customCountry {
    text-align: left;
}

.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {

    height: 50px;
   
}

.drpdwn-cntn.langDrop a img {
    max-width: 22px;
    margin-right: 6px;
}