/*================================================
Default CSS
=================================================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
.navbar{
  font-family: 'Raleway', sans-serif;
}
img {
  max-width: 100%;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

a {
  color: #0e314c;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 0 !important;
}

a:hover {
  color: #c63266;
  text-decoration: none;
}

button {
  outline: 0 !important;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}
.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.bg-f7fafd {
  background-color: #f7fafd;
}

.bg-f6f4f8 {
  background-color: #f6f4f8;
}
p {
  line-height: 1.7;
  margin-bottom: 15px;
  color: #828282;
  font-weight: 300;
  font-size: 15px;
}

p:last-child {
  margin-bottom: 0;
}
.pt-0{
  padding-top:0px !important;
}
/*btn btn-primary*/
.btn {
  font-weight: 700;
  border: none;
  padding: 14.5px 30px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: initial;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}
.btn.disabled, .btn:disabled {
  opacity: 1;
}
.btn-primary {
  background-color: transparent;
  color: #ffffff;
}
.btn-primary::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#c93165), to(#6265ac));
  background: linear-gradient(90deg, #c93165 0%, #6265ac 100%);
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn-primary::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #6265ac 0%, #c63266 100%);
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: transparent !important;
  color: #ffffff !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}
.btn-primary:hover::before, .btn-primary:focus::before {
  opacity: 0;
  visibility: hidden;
}
.btn-primary:hover::after, .btn-primary:focus::after {
  opacity: 1;
  visibility: visible;
}
.nav-item.prfle_logout {
  padding: 7px 0 !important;
}
/*section-title*/
.section-title {
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: -9px;
}

.section-title h2 {
  margin-bottom: 0;
  font-size: 31px;
  font-weight: 500;
}
.section-title p {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
/*form-control*/
.form-control {
  height: 50px;
  padding: 6px 12px;
  font-size: 15px;
  color: #0e314c;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-control:focus {
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  border-color: #c63266;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: -webkit-gradient(linear, left top, right top, from(#c63266), to(#6962a7));
  background: linear-gradient(90deg, #c63266 0%, #6962a7 100%);
  top: 0;
  left: 0;
}

.preloader .loader {
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-43%);
          transform: translateY(-43%);
  text-align: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.preloader .box {
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-animation: animate .5s linear infinite;
          animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.preloader .shadow {
  width: 100%;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  -webkit-animation: shadow .5s linear infinite;
          animation: shadow .5s linear infinite;
}

/*================================================
Navbar Area CSS
=================================================*/
.mainHeader.navbar-light .navbar-nav .nav-link {
  color:#000;
  font-size: 17px;
  font-weight:600;
}
.mainHeader.navbar-light .navbar-nav .active .nav-link {
  color:#6265ac;
}
.mainHeader .navbar-brand img {
    max-width: 150px;
}
.mainHeader.navbar-expand-lg .navbar-nav {
    margin-left: auto;
    margin-top: 5px;
}
.mainHeader.navbar ul li {
    /*text-transform: uppercase;*/
    display: inline-block;
    padding: 0px 15px;
    font-weight: 500;
}
.mainHeader.navbar ul li:last-child {
    padding-right: 0;
}
.mainHeader .navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.mainHeader.navbar ul li a {
    color: #4b4f5c;
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.mainHeader.navbar ul li a::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0d8';
    bottom: -28px;
    color: #6265ac;
    text-align: center;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.mainHeader.navbar ul li a::after {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6265ac;
    visibility: hidden;
    opacity: 0;
    content: '';
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.mainHeader.navbar ul li.active a::before {
    visibility: visible;
    opacity: 1;
}
.mainHeader.navbar ul li.active a::after {
    visibility: visible;
    opacity: 1;
}
.mainHeader.navbar ul li:hover a::before {
    visibility: visible;
    opacity: 1;
}
.mainHeader.navbar ul li:hover a::after {
    visibility: visible;
    opacity: 1;
}
.mainHeader.navbar ul li.active a {
    color: #6265ac;
}
.reseller_btn {
    padding: 14.5px 15px;
}
/*--sticky navbar--*/
.navbar.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar.is-sticky .navbar-brand img:nth-child(1) {
  display: block;
}

.navbar.is-sticky{
  background-color: #ffffff;
}
/*--go above arrow--*/
.go-top {
  position: fixed;
  cursor: pointer;
  top: 50%;
  right: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#6265ac), to(#c63266));
  background: linear-gradient(90deg, #6265ac 0%, #c63266 100%);
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
  color: #ffffff;
}
.go-top.active {
  top: 98%;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
  opacity: 1;
  visibility: visible;
}
.go-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #c63266 0%, #6265ac 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.go-top:hover, .go-top:focus {
  color: #ffffff;
}
.go-top:hover::before, .go-top:focus::before {
  opacity: 1;
  visibility: visible;
}
/*================================================
Main Banner Area CSS
=================================================*/
.main-banner {
    padding: 80px 0;
    background-image: url(../img/main-banner1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.main-banner-content {
  max-width: 600px;
}
.main-banner-content h1 {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
}
.main-banner-content p {
    color: #ffffff;
    font-size: 18px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 0.01em;
}
.main-banner-content .btn {
  margin-top: 30px;
}
.header-circle-magic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
}
.header-circle-magic canvas{
  width: 100% !important;
  height: 100% !important;
}
/*--why choose us section--*/
.why_choose_sec{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.overview-box {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}
.overview-box .overview-content {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}
.overview-box .overview-content .content.left-content {
    margin-left: auto;
    padding-right: 50px;
    padding-left: 0;
}
.overview-box .overview-content .content {
    max-width: 555px;
    padding-left: 50px;
}
.overview-box .overview-content .content h2 {
    margin-bottom: 0;
    font-size: 31px;
    font-weight: 500;
}
.bar {
    height: 5px;
    width: 90px;
    background: #9799c9;
    margin: 20px 0 25px;
    position: relative;
    border-radius: 30px;
}
.bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2.7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #6265ac;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG;
}
.bar.center_bar {
  margin: 20px auto 25px;
}

.overview-box .overview-content .content .services-list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    padding-left: 0;
    list-style-type: none;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    margin-top: -5px;
}
.overview-box .overview-content .content .services-list li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.overview-box .overview-content .content .services-list {
    list-style-type: none;
}
.overview-box .overview-content .content .services-list li span {
    display: block;
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    color: #6084a4;
    z-index: 1;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-size: 14px;
    font-weight: 400;
}
.overview-box .overview-content .content .services-list li span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#6265ac), to(#c73266));
    background: linear-gradient(90deg, #6265ac 0%, #c73266 100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.services-list li span i {
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ee0979;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.overview-box .overview-content .content .services-list li span:hover , .overview-box .overview-content .content .services-list li span:hover i{
    color: #ffffff;
}
.overview-box .overview-content .content .services-list li span:hover::before {
    width: 100%;
}
.overview-box .overview-image {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    /*flex: 0 0 50%;*/
    max-width: 50%;
}
.overview-box .overview-image .image {
    text-align: center;
    position: relative;
    z-index: 1;
}
.overview-box .overview-image .image {
    text-align: center;
}
.overview-box .overview-image .image .circle-img {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    right: 0;
    margin: 0 auto;
}
.overview-box .overview-image .image .circle-img img {
    -webkit-animation-name: rotateMe;
    animation-name: rotateMe;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
/*--how Qvaring work--*/
.how_work_sec {
  position: relative;
  z-index: 1;
}
.how_work_sec .map-bg {
  position: absolute;
  z-index: -1;
  top: 120px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}
.how_work_sec .map-bg img {
  height: 100%;
}
.single-how-it-works {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.03);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.03);
  padding: 35px 25px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.single-how-it-works h3 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
}
.single-how-it-works p {
  margin-top: 12px;
  margin-bottom: 0;
}
.single-how-it-works:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}
.single-how-it-works img {
  display: inline-block;
  margin-bottom: 30px;
}
/*--features section--*/
.features-area{
  padding-bottom: 50px;
}
.single-features-box{
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  padding-left: 35px;
  transition: 0.5s;
}
.single-features-box::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#6265ac), to(#c73266));
  background: linear-gradient(90deg, #6265ac 0%, #c73266 100%);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.single-features-box .icon {
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  background-color: rgba(231, 70, 69, 0.2);
  border-radius: 50%;
  color: #ee0979;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 18px;
}
.single-features-box .icon {
  text-align: center;
  line-height: 65px;
  color: #ee0979;
}
.single-features-box .icon img{
  max-width:30px;
}
.single-features-box h3 {
  margin-bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 21px;
  font-weight: 300;
}
.single-features-box p {
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 0;
}
.single-features-box:hover::before {
  width: 100%;
}
.single-features-box:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.single-features-box:hover h3 {
  color: #ffffff;
}
.single-features-box:hover p {
  color: #ffffff;
}
.single-features-box .icon.bg-f78acb {
  background-color: rgba(247, 138, 203, 0.3);
  color: #f78acb;
}
.single-features-box:hover .icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #ee0979;
  background-color: #ffffff !important;
}
.single-features-box .icon.bg-cdf1d8 {
  background-color: #cdf1d8;
}
/*--app download area--*/
.app-image {
  position: relative;
  z-index: 1;
  text-align: left;
  overflow: hidden;
}
.app-image .main-image img:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
}
.app-image .main-mobile-image {
  display: none;
}
.app-image .circle-img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
  z-index: -1;
  right: 0;
  margin: 0 auto;
}
.app-image .circle-img img {
  -webkit-animation-name: rotateMe;
          animation-name: rotateMe;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.app-download-content {
  padding-left: 20px;
}
.title-heading{
  margin-bottom: 0;
  font-size: 31px;
  font-weight: 500;
}
.app-download-content .btn-box {
  margin-top: 25px;
}
.app-download-content .btn-box .app-store-btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#6265ac), to(#c53367));
  background: linear-gradient(90deg, #6265ac 0%, #c53367 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.app-download-content .btn-box .app-store-btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: -1;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.app-download-content .btn-box .app-store-btn {
  border-radius: 3px;
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 12px 25px 12px 60px;
  font-size: 12px;
}
.app-download-content .btn-box .play-store-btn {
  margin-left: 12px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 12px 25px 12px 60px;
  font-size: 12px;
}
.app-download-content .btn-box .app-store-btn {
  color: #ffffff;
  font-size: 12px;
}
.app-download-content .btn-box .app-store-btn i, .app-download-content .btn-box .play-store-btn i {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.app-download-content .btn-box .app-store-btn i::before, .app-download-content .btn-box .play-store-btn i::before {
  font-size: 35px;
}
.app-download-content .btn-box .app-store-btn span {
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.app-download-content .btn-box .play-store-btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: -1;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.app-download-content .btn-box .play-store-btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#6265ac), to(#c83165));
  background: linear-gradient(90deg, #6265ac 0%, #c83165 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.app-download-content .btn-box .play-store-btn span {
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.app-download-content .btn-box .play-store-btn {
  color: #ffffff;
  font-size: 12px;
}
.app-download-content .btn-box .app-store-btn:hover::after {
  opacity: 1;
  visibility: visible;
}
.app-download-content .btn-box .app-store-btn:hover::before {
  opacity: 0;
  visibility: hidden;
}
.app-download-content .btn-box .play-store-btn:hover::after {
  opacity: 0;
  visibility: hidden;
}
.app-download-content .btn-box .play-store-btn:hover::before {
  opacity: 1;
  visibility: visible;
}
/*--footer area--*/
.footer-area {
  background-color: #1c2031;
  color: #a9a9aa;
  padding: 20px 0;
}
.social-links-footer li a {
  display: inline-block;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  margin-right: 5px;
}
.social-links-footer li a:last-child{
  margin-right:0px;
}
.social-links-footer li {
  display: inline-block;
}
.social-links-footer {
  margin-bottom: 12px;
}
.social-links-footer li a.fcbook:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}
.social-links-footer li a.twter:hover {
  background-color: #03a9f4;
  border-color: #03a9f4;
}
/*--login page --*/
.login-area, .messaging-area {
  min-height: calc(100vh - 198px);
  padding-top: 30px;
}
.login-content {
  height: 100%;
  overflow: hidden;
}
.login-content .login-form {
  text-align: center;
  max-width: inherit;
}
.login-content .login-form h3 {
  color: #6265ac;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 500;
}
.login-content .login-form form {
  margin-top: 30px;
}
.form-group input{
  background-color: #ffffff;
  color: #0e314c;
  border: none;
  -webkit-box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
box-shadow: 0px 0px 5px 1.5px rgba(149, 152, 200, 0.2) !important;
  height: 50px;
  font-size: 15px;
  width: 100%;
}
.login-content .login-form form .btn {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2);
  box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2);
}
.login_slider_images .item img {
  max-width: 340px;
  margin: 0 auto;
}
.login_slider .owl-dots {
  z-index: 2;
  text-align: center;
  margin-top: 30px !important;
}
.login_slider .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background: #c63266 ;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  z-index: 2;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.login_slider .owl-dots .owl-dot.active::after {
  height: 14px;
  width: 14px;
  left: -3px;
  right: 3px;
  top: -3px;
  bottom: 3px;
  visibility: visible;
  opacity: 1;
}
.login_slider .owl-dots .owl-dot::after {
  content: '';
  border: 0.5px solid #c63266 ;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.login_slider .owl-theme .owl-dots .owl-dot span {
  opacity: 0;
}
.login_slider  .owl-nav i {
  font-size: 35px;
  color: #c63266 ;
}
.login_slider .owl-nav i:hover{
  color:#c63266 ;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: inherit;
  text-decoration: none;
}
.owl-theme .owl-dots .owl-dot span {
  opacity: 0;
}
.form-group {
  margin-bottom: 1.5rem;
}
.log_div {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: auto;
  position: relative;
}
.log_div img {
  border-radius: 100%;
  height: 120px;
  width: 120px;
  object-fit: contain;
}
.upload_pic_in_album {
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    right: 7px;
    top: 75%;
    text-align: center;
}
label.upload_pic {
  border: 1px solid #FFF;
  border-radius: 44px;
  width: 35px;
  height: 35px;
  line-height: 33px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(135deg, #6265ac 0%, #c63266 100%);
}
label.upload_pic {
    line-height: 33px;
    color: #fff;
    cursor: pointer;
}
.upload_pic_in_album {
    text-align: center;
}
.login-wrapper.pdng-login {
    padding: 52px 105px 70px;
}
.prfle-img-sgnup{
    text-align:center;
}
/*.login-form .btn-primary {
  width: 100%;
}*/
.brdr_box {
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 20px 20px 20px 20px;
}
.form_icon_imge {
  max-width: 70px;
  margin-bottom: 20px;
}
.login-content .login-form form .forgot-password {
  text-align: right;
  margin: 15px 0;
}
.login-content .login-form form .forgot-password a {
  display: inline-block;
  color: #c63266 ;
  text-decoration: underline;
}
.login-form .item p {
  padding: 0 15px;
}
/*--messaging--*/
.messaging_pge {
  position: relative;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.messgng_pge_left {
  z-index: 9;
  border-right: 1px solid #e4e7ed;
  float: left;
  overflow: hidden !important;
  width: 40%;
}
.sidebar {
  width: 100%;
  vertical-align: top;
  position: relative;
  z-index: 9;
}
.sidebar a {
  margin-top: 0;
  padding: 1rem;
  display: block;
}
.msg_clr {
  color: #737373;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: ; */
}
.border-bottom-blue-grey.border-bottom-lighten-5 {
  border-bottom: 1px solid #eceff1 !important;
}
.sidebar .media img{
  width: 40px;
}
.border-right-primary {
  border-right: 1px solid #c53367;
}
.border-right-4 {
  border-right-width: 4px !important;
}
.compose_msg{
  display: block;
  width: 100%;
}
.btn-primary.compose_msg::before, .btn-primary.compose_msg::after {
  border-radius: 0;
}
.sent_time {
  font-size: 13px;
  margin-bottom: 8px;
}
.messgng_pge_rgt {
  float: right;
  height: 100%;
  width: 60%;
}
.content-wrapper{
  height: 100%;
  padding: 0 !important;
}
.message-app-window {
  padding: 20px 30px;
  text-align: center;
  background-color: #f9f5f5;
  height: 100%;
  position: relative;
  max-height: 460px;
  overflow-y: auto;
}
.text-bold-600 {
  font-weight: 600;
}
.messge_user_info img {
  max-width: 40px;
  border-radius: 50%;
}
.chat-body {
  display: block;
  overflow: hidden;
  margin: 0px 30px 0 0;
}
.chat-left {
  margin-top: 0px;
}
.chat-body {
  margin-right: 0;
  margin-left: 0px;
}
.chat-content {
  float: left;
  margin: 0 0 15px 20px;
  text-align: left;
  color: #6b6f80;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 12px 0 rgba(62, 57, 107, .16);
  box-shadow: 0 7px 12px 0 rgba(62, 57, 107, .16);
  border-radius: 7px;
  padding: 8px 15px;
  clear: both;
  position: relative;
  display: block;
}
.chat-content::before {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 0;
  height: 0;
  content: '';
  border: 5px solid transparent;
  border-left-color: #6967ce;
  right: auto;
  left: -10px;
  border-right-color: #fff;
  border-left-color: transparent;
}
.chat-content p{
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: .2px;
}
h3.ttle_msg {
  font-size: 18px;
  text-align: center;
}
.pos_rel{
  position:relative;
}
.btn.snd_sms {
  padding: 8px 10px;
  font-size: 13px;
  background: transparent;
}
.btn-primary.snd_sms::before {
  background: transparent;
  background: transparent;
}
.btn-primary.snd_sms {
  color: #6265ac;
  border: 1px solid #6265ac;
  font-weight: 500;
}
.btn-primary.snd_sms::after {
  background: transparent !important;  
}
.btn-primary.snd_sms:hover{
  border: 1px solid #b73a71;
  color: #b73a71 !important;
}
.prfle_logout ul li {
  padding: 0px 8px;
  display: inline-block;
  border-right: solid 1px #ccc;
  color: #c63266;
  font-weight: 500;
}
.prfle_logout ul li:last-child{
  border-right: none;
}
.navbar ul li.prfle_logout a::after {
  display: none;
}
.navbar ul li.prfle_logout a::before {
  display: none;
}
.prfle_logout ul li{
  cursor:pointer;
}
.pdng_25{
  padding:25px 0;
}
.hedr_hgt {
  height: 60px;
  align-items: center;
  display: flex;
  padding: 0 25px;
  border-bottom: 1px solid #eee;
}
.history_list {
  max-height: 460px;
  overflow-y: auto;
}
.prfle_logout ul li span{
  display:block;
  color:#333;
}
.prfle_logout ul li img {
  max-width: 30px;
  border: 1px solid #6265ac;
  border-radius: 50%;
}
.logout i {
  font-size: 20px;
}
.btn-primary.snd_sms:focus {
  color: #c53367 !important;
  border: 1px solid #c53367;
}
.cht_tme {
  display: inline-block;
  float: right;
  font-size: 12px !important;
  color: #6c757d;
}
.history_list .media-body h6 {
  line-height: 40px;
}
.clearfix{
  clear:both;
}
.ml-40{
  margin-left:40px;
}
.cubaring_modal .modal-content{
  position: relative;
  padding:15px 30px;
}
.cubaring_modal .modal-content::before {
  content: "";
  position: absolute;
  border: 1px solid #ddd;
  top: 3%;
  width: 96%;
  height: 94%;
  left: 2%;
  border-radius: .3rem;
}
.cubaring_modal .modal-header {
  padding: 0.7rem 0rem;
}
.cubaring_modal .modal-header{
  border-bottom:none;
}
.cubaring_modal .modal-header h5 {
  font-weight: 500;
  color: #212529;
  margin-top: 10px;
  font-size: 20px;
}
.cubaring_modal .modal-body {
  padding: 0.7rem 0 0 0;
}
.form-group textarea.form-control {
  height: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
box-shadow: 0px 0px 5px 1.5px rgba(149, 152, 200, 0.2) !important;
  border-radius: 2px;
}
.cubaring_modal .modal-footer {
  border-top: none;
  padding: 0rem;
  margin-bottom: 10px;
}
.btn.pop_btn {
  padding: 10px 20px;
}
.btn.close_text {
  padding: 14.5px 20px;
}
.close_text {
  color: #828282 !important;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  cursor:pointer;
}
.cubaring_modal .modal-footer > :not(:last-child) {
  margin-right: 0rem;
}
.cubaring_modal .modal-header img {
  max-width: 100px;
  margin: 0 auto;
}
.cubaring_modal .modal-header {
  display: block;
  text-align: center;
}
/*--recharge page --*/
.radio_sec [type="radio"]:checked,
.radio_sec [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio_sec [type="radio"]:checked + label,
.radio_sec [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.radio_sec [type="radio"]:checked + label::before, .radio_sec [type="radio"]:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #828282;
  border-radius: 100%;
  background: #fff;
}
.radio_sec [type="radio"]:checked + label::after, .radio_sec [type="radio"]:not(:checked) + label::after {
  content: '';
  width: 12px;
  height: 12px;
  background: #C33469;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radio_sec [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio_sec [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.radio-group label {
  font-size: 16px;
}
.radio_sec{
  margin-bottom:1.5rem;
}
.form-group select, .form-control:focus {
  background-color: #ffffff;
  color: #0e314c;
  border: none;
  -webkit-box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
box-shadow: 0px 0px 5px 1.5px rgba(149, 152, 200, 0.2) !important;
  height: 50px !important;
  font-size: 15px;
}
form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/dropdown_ico.png) right 8px center no-repeat #fff;
    background-size: 20px;
}
.form-group input:focus, .form-group textarea:focus{
  border: 1px solid #6265ac;
}
.form-group textarea:focus{
  height:auto !important;
}
.login-content {
  height: 100%;
  overflow: hidden;
  margin-bottom: 25px;
}
/*--profile--*/
.profle_tabbar ul {
  background-color: #f6f6f6;
  border-bottom: 1px solid #d8d8d8;
}
.profle_tabbar ul li {
  width: 50%;
  text-align: center;
}
.profle_tabbar ul li a {
  line-height: 1.6;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-size: 14px;
  padding: 15px 40px;
  font-weight: 500;
}
.profle_tabbar ul li.active a{
  background: #f6f6f6;
  color: #251766;
}
.profle_tabbar .nav-pills .nav-link.active {
  color: #6265ac;
  background-color: transparent;
  border-bottom: 2px solid #6265ac;
  font-weight: 500;
}
.profle_tabbar .nav-pills .nav-link {
  border-radius: 0rem;
}
.bg-map {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
  text-align: center;
  margin: 0 auto;
  opacity: .5;
}
.pos-rel{
  position:relative;
}
.profle_tabbar .nav-pills a.nav-link:hover {
  color: #6265ac;
  text-decoration: none;
}
.profle_tabbar {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
.ptblr-30{
  padding:30px;
}
.btn.btn_pad_less {
  padding: 10px 30px;
}
.edit_icn {
  position: absolute;
  right: 35px;
  top: 25px;
  border: 1px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.basic_info_tab {
  position: relative;
  padding: 10px 55px 10px 55px;
}
.edit_icn:hover{
  border: 1px solid #c63266;
}
.nav-item.prfle_logout li a {
  color: #0e314c;
  font-size: 17px;
  font-weight: 600;
}
.nav-item.prfle_logout li a.active{
  color:#6265ac;
}
.profle_tabbar .nav {
  justify-content: center;
}
.panel-footer.bottom_wrapper {
  border-top: 1px solid #f0f4f8;
}
.bottom_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-footer {
  padding: 10px 10px 10px;
  visibility: visible;
  background: #fff none repeat scroll 0 0;
  border-color: currentcolor #ccc #ccc;
  box-shadow: 0 5px 6px #ccc;
  -webkit-box-shadow: 0 5px 6px #ccc;
  -moz-box-shadow: 0 5px 6px #ccc;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.message_input_wrapper .form-group {
    margin-bottom: 15px;
    display: inline;
}
.message_input_wrapper {
  position: relative;
}
.form-group {
  margin-bottom: 15px;
}
.form-wrapper1 input {
  width: 100%;
  padding: 10px 12px;
  float: left;
  font-size: 14px;
  border: 0;
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.regfld input, .regfld textarea {
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  color: #334249;
  font-weight: 300;
  padding: 0px 20px 0px 20px;
  outline: none !important;
  box-shadow: none !important;
}
span.uploadicon {
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
}
.bottom_wrapper span.uploadicon i {
  border: 2px solid #785a9d;
  border-radius: 100%;
  color: #745ca0;
  width: 30px;
  height: 30px;
  line-height: 27px;
  text-align: center;
  font-size: 14px;
}
.send_message {
  display: inline-block;
  float: right;
  margin-left: 10px;
}
.footer_hgt{
  height:70px;
}
.messgng_pge_left .btn {
  height: 100%;
}
.send_message .btn.btn_pad_less {
    padding: 13px 30px;
}
.sent_time {
  position: absolute;
  right: 10px;
  top: 26px;
}
.form-group input:focus {
    outline: none;
}
/*--keyframes--*/
@-webkit-keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}
@keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}
@-webkit-keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}
@-webkit-keyframes shadow {
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}
@keyframes shadow {
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}
@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
  }
}
@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
  }
}
@-webkit-keyframes rotateMe {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateMe {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*--21-02-2020--*/
.text-center{
  text-align: center;
}
.mt-25{
  margin-top: 25px !important;
}
.para {
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #31444a;
}
.btn-link2{
  font-size: 15px;
  font-weight: 500;
  color: #6265ac;
}
a.btn-link2 {
    text-decoration: none;
    color: #6265ac;
}
.usr-slct {
  margin-top: 20px;
}

.Ustype {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.radio-inline {
    position: relative;
}
.Ustype {
    text-align: center;
    background-color: #fff;
}
.usr-slct label {
    margin: 0;
}
.main-oveinfo label {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
}
.radio-inline img {
    margin: auto;
    text-align: center;
    width: auto;
    position: relative;
    max-height: 40px;
}
.Ustype input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: auto;
    z-index: 99;
    width: 100%;
    height: 100%;
}
.Ustype label{
  display:block;
}
.Ustype label span h3 {
    font-size: 18px !important;
    font-weight: 500 !important;
    letter-spacing: 0px;
    text-transform: none;
    color: #383838 !important;
    font-family: 'Titillium Web', sans-serif;
    margin: 10px;
}
.Ustype:hover .process-count {
  opacity: 0.1;
  color:#e42f42;
}
.Ustype input[type="radio"]:checked + label span {
    border-color: #e42f42;
}
.process-count .radio-inline input[type="radio"]:checked{
  opacity: 0.1;
  color:#e42f42;
}
.Ustype input[type=checkbox], input[type=radio] {
    opacity: 0;
}
.Ustype label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
}
.Ustype input {
    height: 45px;
    padding: 0 15px;
    border: 1px solid #e8e8e8;
    color: #333;
    width: 100%;
    margin: 0 auto 12px;
    font-size: 17px;
    border-radius: 111px;
    box-shadow: none;
    background: #000000;
}
.Ustype input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: auto;
    z-index: 99;
    width: 100%;
    height: 100%;
}
.Ustype input[type="radio"]:checked + label span {
    border-color: #6265ac;
}
.Ustype input[type="radio"]:checked + label span h3 {
    color: #6265ac !important;
}
.Ustype input[type="radio"] + label span {
    border: 1px solid #03c04a;
    width: 100%;
    position: relative;
    border: 1px solid #eee;
    border-radius: 6px;
    background: #fff;
    overflow: hidden;
    display: block;
    cursor: pointer;
    padding: 15px 0;
}
.radio-inline span {
    text-align: center;
    position: relative;
}
.form-recharge {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
    padding-bottom: 8px;
}
.new-mar{
  margin: 0 auto;
}
.dlt {
    /* float: right; */
    text-align: right;
}
.dlt h5{
  font-size: 15px;
    color: #f00;
}
.add_more_blk{
  display: inline-block;
  width: 100%;
}
.new-list {
    float: left;
    padding-bottom: 12px;
}
.new-list2{
  float: right;
  padding-bottom: 12px;
}
.new-list h6 {
    color: #6265ac;
    font-size: 16px;
}
.new-list2 h6 {
    color: #be235a;
    font-size: 16px;
}
.hidden {
    display: none;
}
/*--24-02-2020--*/
.d-table-cell.top_ico {
    vertical-align: top;
}



/*--My Profile section--*/

.profileMenu ul {
    padding: 0;
    background: #fff;
    list-style: none;
    border: 1px solid #e1e8ed;
}
.profileMenu ul li a {
    padding: 15px;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #e1e8ed !important;
    color: #242424;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    font-weight: 500;
}
.profileMenu ul li a:hover {
  color: #6265ac;
}
.profileMenu ul li a.active :hover, .profileMenu ul li a.active:focus, .profileMenu ul li a.active, .profileMenu ul li a.active:focus{
    color: #6265ac !important;
}
.profileMenu ul li {
    display: block;
    width: 100%;
    margin: 0;
}
.profileMenu li a i {
    font-size: 24px;
    vertical-align: bottom;
}
.profile h1 {
    font-size: 22px;
    color: #fff;
    padding: 10px 0px 0px 0px;
}
.profileInner .tabs_styled_2 .tab-pane{
    border-top: 1px solid #e1e8ed;
}
.tabs_styled_2 .tab-pane {
    background-color: #fff;
    padding: 30px 15px 20px;
    border: 1px solid #e1e8ed;
    border-top: none;
}
.profile ul.contacts {
    padding: 0;
    list-style: none;
    color: #fff;
}
.profile ul.contacts li {
    margin-bottom: 5px;
}
.contacts.tex-color li p {
    color: #fff;
}
.profile ul.contacts li h6 {
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: 700;
    color: #242424;
}
.profile ul.contacts li a{
    color: #777;
    font-size: 15px;
}
.profileImg img {
    width: 130px;
    height: 130px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.profileImg {
    float: left;
}
.profileCnt {
    overflow: hidden;
    padding-left: 15px;
}
ul.contacts li p span {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 5px;
}
.profileBanner {
    background: linear-gradient(90deg, #c63266 0%, #6962a7 75%);
    position: relative;
    z-index: 1;
    padding: 30px 0;
    height: 150px;
}
.profileBanner:after {
    content: "";
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.profile {
    /* margin-bottom: -42px; */
    position: absolute;
    bottom: -40px;
}
.profileInner {
    margin-top: 70px;
}
ul.contactInfo {
    list-style: none;
    padding: 0;
}
ul.contactInfo li {
    padding: 15px 0;
    border-bottom: 1px solid #e1e8ed;
    font-size: 16px;
    color: #777;
}
ul.contactInfo li strong {
    width: 125px;
    display: inline-block;
    color: #242424;
}
.quesBlock h3 {
    font-size: 16px;
    color: #242424;
    margin-top: 0;
}
.quesBlock p {
    font-size: 15px;
    color: #777;
}
.quesBlock {
    margin-top: 25px;
}
.regQues .main_title_4 {
    margin-top: 30px;
}
.mainMenu ul.dropdown-menu {
    min-width: 225px;
}
.settingPannel .panel-default > .panel-heading a {
    line-height: 50px;
}
.ansBlock {
    margin-bottom: 20px;
}
.ansSelect p {
    padding-left: 0;
    margin-right: 15px;
    margin-left: 0 !important;
}
.que-left h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 25px;
}
.que-left .form-wizard-steps.form-wizard-tolal-steps-4 {
    margin-top: 0;
    margin-bottom: 32px;
    position: absolute;
    bottom: 0;
}
.que-left .form-header-classic .form-wizard-step .form-wizard-step-icon, .que-left .form-header-classic .form-wizard-step.active  .form-wizard-step-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 0;
}
.que-left .form-header-classic .form-wizard-step.active  .form-wizard-step-icon {
    background-color: #F99200;
}
.que-left .form-header-classic .form-wizard-step.active p {
    color: #F99200;
}
.que-left .form-wizard-tolal-steps-4 .form-wizard-step {
    width: auto;
    text-align: center;
    margin-right: 0px;
}

.box_general_3 {
    background-color: #fff;
    padding: 20px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #e1e8ed;
}
.upload .title {
    background-color: #F99200;
    color: #fff;
    margin: -30px -20px 30px;
    padding: 20px 20px;
    border-radius: 5px 5px 0 0;
}
.upload .title h3 {
    font-size: 25px;
    margin: 0;
    color: #fff;
}
.upload .title small {
    font-size: 13px;
}
.mainWrapper{
    margin-top: -30px;
}
.fileList .upload .title {
    padding: 15px 20px;
}
.fileList .upload .title h3 {
    font-size: 20px;
}
.withoutIcon .form-control{
    padding-left: 15px;
    border-left: 1px solid #e4e4e7;
}
.uploadItem{
    border:1px solid #ededed;
    padding:15px;
}
.uploadItem h3 {
    margin-top: 0;
    font-size: 22px;
    color: #242424;
    margin-bottom: 15px;
}
.uploadItem small {
    font-size: 14px;
    color: #777;
    display: block;
    text-align: right;
    margin-top: 5px;
}
.docFile {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #777;
    color: #777;
    border-radius: 150px;
    font-size: 15px;
    font-weight: 700;
}
.docFile:hover{
    border-color: #F99200;
    color: #F99200;
}
a.docFile img {
    width: 25px;
}
a.videoFile{
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}
a.videoFile:before{
    background-color: rgba(0,0,0,0.5);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*z-index: -1;*/
}
a.videoFile img {
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 5px;
}
a.videoFile span img{
    width: auto;
    max-width: 40px;
    height: auto;
}
a.videoFile span{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    text-align: center;
    z-index: 1;
}

.reviews-container .review-box {
    position: relative;
    margin-bottom: 25px;
    padding-left: 100px;
    min-height: 100px;
}
.reviews-container .rev-thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.reviews-container .rev-thumb img {
    width: 80px;
    height: auto;
}
.reviews-container .rev-content {
    position: relative;
    padding: 15px 25px 0;
    border: 1px solid #ededed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.reviews-container .rev-info {
    font-size: 15px;
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
}
.rev-text p {
    font-size: 15px;
    color: #777;
}
.quiz-head{
    position: relative;
    color: #F99200;
    font-size: 24px;
    margin-bottom: 15px;
    display: inline-block;
}
/*progress bar*/
.per-scr {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.per-scr h2{
    color: #222;
    margin-bottom: 20px;
}
.per-scr h2 span {
    color: #f99200;
}
.per-scr p {
    margin-bottom: 30px;
}
.per-section{
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}
.per-section .progress-bar {
    background-color: #F99200;
}
.progress-bar {
  width: 0;
  -webkit-animation: progress 1.5s ease-in-out forwards;
          animation: progress 1.5s ease-in-out forwards;
}
.progress-bar .title {
  opacity: 0;
  -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
          animation: show 0.35s forwards ease-in-out 0.5s;
}

@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-wdh{
    text-align: center;
    margin-top: 35px;
}
.btn-wdh a{
    text-align: center;
    width: 100%;
    max-width: 100px;
}
/*checklist Assesment*/

.check-head h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 25px;
    color: #222;
}
.chck-list-box{
    padding: 0 !important;
}
/*Appointment filter*/
.cstm-app-list{
    width: 50%;
    float:left;
}
.cstm-fltr{
    float:right;
    text-align: right;
}
.cstm-fltr ul {
    top: 45px;
    right: 0;
    left: -95px;
    font-size: 15px;
}
.cstm-fltr ul li {
    padding: 6px 0;
}
.cstm-fltr i{
    font-size: 23px;
}
.cstm-fltr .prgrm-link-btn:focus{
    background: #F99200!important;
}
.cstm-fltr ul > li > a:focus, .cstm-fltr ul > li > a:hover , .cstm-fltr ul > li > a:active {
    color: #F99200;
}

.box_list{
    min-height: 376px;
}
.wallet-img {
    margin-top: -19px;
}
.wallet-img h3 {
    padding: 7px 0px 0px 22px;
    font-size: 19px;
    color: #828282;
    font-weight: normal;
    margin: 0 auto;
}
.wallet-img h2 {
    font-size: 35px;
    color: #000;
    padding: 10px 0px;
    font-weight: 600;
    margin: 0 auto;
    padding: 5px 0px 0px 16px;
}
.add_money_btn {
    text-align: right;
}
.btn.btn-primary.transfer_btn {
    border: 1px solid #c53368;
    color: #c53368;
}
.btn-primary.transfer_btn::before {
     background: transparent; 
}
.btn-primary.transfer_btn::after {
     background: transparent; 
}
.btn.btn-primary.transfer_btn.ml-2 {
    background-color: transparent !important;
    color: #c53368 !important;
}
.border_all{
  border-top: 1px solid #ddd;
  margin: 15px -15px;
}
.media-body.new_txt {
    padding-top: 8px;
}

/*recharge2 section*/
.login-form2 {
    text-align: center;
}
.login-form2 .btn-primary {
    width: 100%;
    max-width: 200px;
}
.box {
    padding: 0!important;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.upper_txt {
    text-align: left;
    padding-left: 15px;
}
.upper_txt h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin: 0;
}
.upper_txt h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    margin: 0;
}
.upper_txt h6 {
    font-weight: normal;
    color: #fff;
    padding: 6px 0px;
    margin: 0 auto;
}
.wallet_txt {
    padding: 45px 0px 25px 0px;
    margin: 0;
}
.wallet_txt h5 {
    font-size: 17px;
    color: #828282;
    font-weight: 500;
}
.wallet_txt h2 {
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 10px;
    margin: 0;
    color: #6265ac;
}
.recharge_amount {
    border: 1px dashed #6265ac;
    padding: 10px 15px;
    max-width: 400px;
    margin: 12px auto;
    width: 100%;
}
.recharge_amount h6 {
    text-align: left;
    margin: 0;
    color: #000;
    font-weight: normal;
    font-size: 17px;
}
.recharge_amount h2 {
    text-align: right;
    margin: 0;
    margin: -28px 0px 0px 0px;
    color: #404040;
    font-weight: 500;
    font-size: 25px;
}
.border_all2 {
    margin: 15px -15px;
    border-top: 1px dotted #ddd;
}
.upper_bg {
    background-color: #6265ac;
    margin: -31px -52px -15px -30px;
    padding: 20px 25px 20px 25px;
    display: flex;
    align-items: center;
}
.pay_txt {
    text-align: left;
    padding: 20px 0;
    text-transform: uppercase;
}
.pay_txt h5 {
    color: #333;
    font-size: 18px;
    text-align: center;
}
.wallet_sec {
    background-color: #ffffff;
    padding: 12px 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.wallet_sec h2 {
    font-size: 17px;
    text-align: left;
    color: #000;
    font-weight: 400;
    float: left;
}
/*26_02_2020*/
.form-recharge-new {
    padding: 30px 15px 30px 15px;
}
.upper_bg22 {
    background-color: #6265ac;
    margin: -31px -52px 0px -52px;
    padding: 25px 25px 20px 25px;
    display: flex;
    align-items: center;
}
.form-group22 {
    margin-bottom: 25px;
}
.input-group.form-group h2 {
    font-size: 15px;
    color: #000;
    /* padding-bottom: 6px; */
    margin: 0;
    padding: 10px 0px;
}
#card-errors {
  height: 20px;
  padding: 4px 0;
  color: #fa755a;
}
.token {
  color: #32325d;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}
/*credit_ico*/
.token {
  color: #32325d;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
#stripe-token-handler {
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  padding: 20px 30px;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15),
    0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transform: translateY(0);
  opacity: 1;
  background-color: white;
}
#stripe-token-handler.is-hidden {
  opacity: 0;
  transform: translateY(-80px);
}
.form-row {
  width: 70%;
  height: 100px;
  float: left;
}
#card-element {
  background-color: white;
  width: 100%;
  height: 50px;
  padding: 15px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 5px 1.5px rgba(149, 152, 200, 0.2) !important;
  margin: 0 auto;
}
#card-element--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
#card-element--invalid {
  border-color: #fa755a;
}
#card-element--webkit-autofill {
  background-color: #fefde5 !important;
}
.credit_card label {
    font-size: 15px;
    color: #000;
    font-weight: 500;
}
.transaction_history {
    margin: 0 auto;
    padding: 10px 0px 25px 0px;
}
.transaction_history h2 {
    font-size: 22px;
    color: #000;
    font-weight: 500;
}
.transaction_history h5 {
    margin: 0 auto;
    font-size: 15px;
    font-weight: 500;
    color: #c53368;
}
.transaction_history h4 {
    margin: -63px 0px;
    float: right;
}
.transaction_history h4 {
    margin: -50px 0px 0px 0px;
    float: right;
    font-size: 18px;
    color: #6265ac;
}
.transfer_setion.media {
    margin: 0px -10px 0px -10px;
    align-items: center;
}
.transfer_setion.media img {
    max-width: 100%;
    max-width: 60px;
}
.media-body.new_txt22 {
    margin: 0;
    padding: 10px 0px 10px 10px;
}
.media-body.new_txt22 h2 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin: 0;
}
.media-body.new_txt22 h6 {
    font-size: 15px;
    color: #a2a2a2;
    padding-top: 2px;
    margin: 0;
}
.border_all2 {
    border-top: 1px solid #ddd;
    margin: 10px -15px;
}
.price {
    font-size: 18px;
    font-weight: 600;
}
.price1 h3{
  color: #d9391f;
}
.price2 h3{
  color: #1fd94a;
}
.price3 h3{
  color: #6265ac;
}
.media-body.new_txt22 {
  padding: 0px;
}
.price2 h5{
  color: #1fd94a;
}
.price1 h5{
  color: #d9391f;
}
/*add_money_28_02_2020*/
.recharge_amount2 h6 {
    text-align: left;
    margin: 0;
    color: #878787;
    font-weight: 100;
    font-size: 20px;
}
.cards {
    margin: 0 auto;
    /*padding: 0px 0px 10px 0px;*/
}
.cards h2 {
    font-size: 22px;
    color: #000;
    font-weight: 500;
}
.cards h4 {
    margin: -28px 0px 0px 0px;
    float: right;
    font-size: 15px;
    color: #6265ac;
}
.border_all3 {
    border-top: 1px solid #ddd;
    margin: 10px -50px;
}
.brdr_box.brdr_box2 {
    padding: 30px 16px;
}
.forgot-psd{
  text-align: right;
  margin: 15px 0;
}
.forgot-psd a {
  display: inline-block;
  color: #c63266;
   text-decoration: none; 
}
.nav-pills.tabs_new{
  display: inline-block;
}
.nav-pills.tabs_new li{
  float: left;
}
.nav-pills.tabs_new li a {
 font-size: 18px;
 font-weight: 600;

}
.nav-pills.tabs_new li a:hover {
  color: #6265ac;
}
.nav-pills.tabs_new .nav-link.active, .nav-pills .show>.nav-link  {
    color: #fff;
    background-color: #6265ac;
}
.transfertabs .nav-pills .nav-link{
  padding: 10px 15px;
  margin-right: 15px;
  font-weight: 500;
}
/*--toggle--*/
.toggle .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.toggle .switch input {
  display:none;
} 
.toggle .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.toggle .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
.toggle input:checked + .slider {
    background-color: #6265ac;
}
.toggle input:checked + .slider:before {
  transform: translateX(26px);
}
.toggle .slider.round {
  border-radius: 34px;
}
.toggle .slider.round:before {
  border-radius: 50%;
}
.recharge_amount.recharge_amount_new {
  border: 1px dashed #ccc;
}
.recharge_amount.recharge_amount_new h6 {
  font-weight: 500;
}
/*--29-02-2020--*/
.icon {
    position: relative;
    width: 100%;
}
.icon2 {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #828282;
}
.transfer_setion.media.user_list {
    margin: 15px 0px 15px 0px;
}
.top-search {
       margin: 30px auto 30px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0rem 0rem;
    max-width: 543px;
}
.search-fields {
    position: relative;
}
.top-search input {
    background: #fff;
    border: medium none;
    font-size: 14px;
    padding: 17px 15px;
    width: 100%;
    border-radius: 50px;
    position: relative;
    box-shadow: 0px 0px 5px 1.5px rgba(149, 152, 200, 0.2) !important;
}
.search-fields span {
    position: absolute;
    cursor: pointer;
    color: #b6b6b6;
    font-size: 15px;
    top: 25%;
    right: 25px;
}
.search-fields input:focus {
    outline: none;
}
.modal-footer.border_line {
    border: none;
}
.modal-title.selectnumber{
  color: #000;
}
.scroll_list {
    max-height: calc(100vh - 307px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0rem 1rem;
}
.modal-body.usr_lst{
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem 0rem 0rem;
}
/*--02-03-2020--*/
.tabs_styled_2 .tab-pane.save_new_cards {
    padding-top: 8px;
}
.ml-auto.remove_ico {
    padding: 25px 10px 0px 0px;
}
.new-delet-ico i {
    padding-right: 15px;
    color: #f00000;
    font-size: 18px;
}
/*--Transfer History--*/
.blog-comments-head {
    display: inline-block;
    color: #4d4d4d;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}
.blog-comments-list .blog-comments-head p {
    font-size: 16px;
    margin-left: 30px;
    color: #828282;
    font-weight: normal;
}
.blog-comments-reply {
    float: right;
    margin: 3px 0px;
}
.theme-badge-default {
    color:#13db3d;
    border: 1px solid #13db3d;
}
.theme-badge-default.status_pending {
    color:#e35314;
    border: 1px solid #e35314;
}
.theme-badge-default.status_pending2 {
    color:#dd1f1b;
    border: 1px solid #dd1f1b;
}
.badge {
    border-radius: 0px;
    font-size: 14px;
}
.badge {
    display: inline-block;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    margin: 0;
}
.blog-comments-content a:hover {
    text-decoration: none;
    color: #fff;
}
.blog-comments-content h2 {
    text-align: left;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin: 0;
}
.tab-pane.fade.border_none{
  border: none;
  padding: 0px 0px 30px;
}
.blog-comments-flex {
    padding: 10px 0;
}
.blog-comments-content p {
    color: #a2a2a2;
    font-weight: normal;
    font-size: 15px;
}
/*--03-03-2020--*/
.total_amount {
    border: 1px dashed #ccc;
    padding: 15px 10px;
    background-color: #f7f7f7;
}

.total_amount h6 {
    text-align: left;
    margin: 0;
    color: #000;
    font-weight: normal;
    font-size: 20px;
}

.total_amount h2 {
    text-align: right;
    margin: 0;
    margin: -28px 0px 0px 0px;
    color: #404040;
    font-weight: 500;
    font-size: 25px;
}
/*--Recherge History--*/
.history_block{
  margin-bottom: 20px;
}
.recharge_history {
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    background-color: #fff;
}
.number_dt {
    text-align: left;
    margin: 0;
    padding: 15px 15px;
    position: relative;
}
.number_dt h2 {
    font-size: 17px;
    color: #000;
    font-weight: 500;
    margin: 0;
}
.number_dt span {
    color: #6265ac;
    font-size: 14px;
    font-weight: 500;
    padding-left: 0px;
}
.number_dt h5 {
    font-size: 14px;
    color: #a2a2a2;
    padding-top: 9px;
    margin: 0;
}
.theme-badge-default.status_pending22 {
    color: #6265ac;
    border: 1px solid #6265ac;
}
.number_dt.new_status h3 {
    font-size: 17px;
    color: #1fd94a;
    margin: -11px 0px 0px 0px;
}
.arrow_ico {
    position: absolute;
    right: 14px;
    bottom: 8px;
    color: 
    #c5c5c5;
    font-size: 20px;
}
.arrow_ico.arrow_ico2{
  bottom: 27px;
  /*right: 17px;*/
}
.number_dt.number_dt2 {
   padding: 0px 15px 15px 15px;
}
.new_status.new_status2 h3 {
  color: #e35314;
}
.theme-badge-default.sts_pending {
    color: #fff;
    border: 1px solid #6265ac;
    background-color: #6265ac;
}
.new_status.new_status3 h3 {
  color: #dd1f1b;
}
.number_dt label {
    position: absolute;
    top: 10px;
    right: 15px;
}
.status span {
  color: #13db3d;
}
.status.status2 span {
  color: #e35314;
}
.status.status3 span {
  color: #dd1f1b;
}
.status_pending22.repeat_btn {
    background-color: #6265ac;
    color: #fff;
    border: 1px solid #6265ac;
}
/*--04-03-2020--*/
.brdr_box.brdr_box2 {
  padding: 30px 15px;
}
.wallet-img.wallet-img2 h3 {
  font-size: 15px;
}
.transfer_setion.transfer_setion2 {
  padding-left: 10px;
}
.transfer_setion.transfer_setion2 h2 {
    font-size: 22px;
    font-weight: 600;
}
.transfer_setion.transfer_setion2 h6 {
    padding-top: 8px;
    font-weight: normal;
}
.price4 h3 {
    color: #e35314;
}
.price.price_new {
  font-size: 15px;
}
.reseller_btn_new a {
  background-color: transparent;
}
/*--06-03-2020--*/
.form-group.form-group2 {
  margin-bottom: 25px;
}
.transfer_money_form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 12px;
}
.transfer_money_form label {
    font-size: 15px;
    color: #000;
    font-weight: 500;
}
.usr_name h1 {
    font-size: 16px;
    color: #828282;
}
.toggle {
    display: inline-flex;
}
.clr_blue {
    color: #6265ac;
}
.quick_recharge {
    margin: 0;
    background-color: #fff;
    border-radius: 20px;
    height: auto;
    width: 100%;
    max-width: 380px;
    margin-left: auto;
}
.quick_recharge .brdr_box {
    padding: 30px 30px;
}
.txt_new {
    text-align: left;
    margin: 0;
    padding: 0;
}
.txt_new h5 {
    font-size: 20px;
    font-weight: 600;
    color: #6265ac;
    margin: 0 auto;
}
.quick_recharge .txt_new form {
    margin-top: 20px;
}
.txt_content {
    align-items: center;
}
.forgot_pass {
    text-align: center;
    padding: 13px 30px;
    margin: 0 auto;
}
.forgot_pass p {
    line-height: 1.7;
    margin-bottom: 15px;
    color: #828282;
    font-weight: 300;
    font-size: 15px;
}
/*--Verify block--*/
.verify_blk{
  text-align: center;
}
.verify_blk h3 {
    color: #6265ac;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 500;
}
.verify_blk p{
  width: 100%;
  max-width: 550px;
  margin: 0 auto ;
}
.verify_blk img {
    max-width: 200px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.verify_blk label {
    width: 100%;
    max-width: 450px;
    background-color: #f7f7f7;
    padding-bottom: 30%;
    border: 1px dashed #ccc;
    position: relative;
    cursor: pointer;
}
.verify_blk input {
    position: absolute;
    opacity: 0;
}
.upload_id {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.upload_id i {
    font-size: 30px;
    color: #828282;
}
.verify_blk h4 {
    font-size: 18px;
    padding-top: 22px;
    color: #6265ac;
}
.card_add_form {
    max-width: 445px;
}
.card_add_form label{
    font-weight: 500;
    color: #000;
    font-size: 15px;
}
/*--09-03-2020--*/
.card_add_form {
    max-width: 445px;
}
.card_add_form label{
    font-weight: 500;
    color: #000;
    font-size: 15px;
}
.scroll_baar {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  padding: 0 15px;
  margin-bottom: 15px;
}
.cards.cards2 h4{
  margin: 0
}
.wrapper.credit_img_new {
    width: 100%;
}
#credit_img,#cancel_btn{
  display: none;
}
.cards.cards2.cancel_txt h4 {
    color: #fa626b;
}
.proceed_btn {
    text-align: center;
}
.rechage_section {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}
.rechage_section img {
    width: 100%;
    max-width: 60px;
    margin-bottom: 15px;
}
.rechage_section h5 {
    font-size: 23px;
    color: #000;
    font-weight: 600;
    margin: 0;
}
/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.new {
  padding: 50px;
}
.form-group.check_box_img input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group.check_box_img label {
  position: relative;
  cursor: pointer;
}

.form-group.check_box_img label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #828282;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group.check_box_img input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #828282;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.top-search.top-search2 {
    width: 40%;
    margin: 0px auto 20px;
}
.cards.cards2 {
    text-align: right;
}
.cards.cards2 a {
    display: inline-block;
    text-align: right;
}
.wallet-img.recharge_history_new {
    margin: 0px auto 0px 10px;
}
.recharge_history_new img {
    width: 100%;
    max-width: 50px;
}
.new_txt.new_txt22 {
    margin: 5px 0px 0px -10px;
}
.new_txt.new_txt22 h3 {
    font-size: 25px;
    color: #000;
    font-weight: 500;
}
/*--11-03-2020--*/
.delete_txt{
  padding: 15px 0px;
}
.delete_txt p {
    font-size: 19px;
    color: #000;
    font-weight: 500;
    margin: 0;
    line-height: 30px;
}
.add_card_btn{
  text-align: center;
}
.verification_status {
    width: 100%;
    max-width: 23px;
    float: right;
}
.change_number{
  text-align: center;
}
.change_number img {
    max-width: 200px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.change_number h3 {
    color: #6265ac;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 500;
}
.change_number p {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}
.notoficationBell .dropdown-menu {
    top: 43px;
    right: 9px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
}
.notoficationBell .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border: 10px solid #343A40;
    border-color: transparent transparent #343A40 transparent;
}
.notoficationBell .head {
    padding: 5px 15px;
    border-radius: 3px 3px 0px 0px;
}
.scrollNotiBody {
    max-height: 300px;
    overflow: auto;
    padding: 12px 0px;
}
.notoficationBell .notification-box {
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
}
.notification-box .media {
    align-items: center;
}
.notification-box .media img {
    max-width: 50px;
    border: 1px solid #e42f42;
}
.text-info {
    color: #6265ac !important;
}
.notoficationBell .bg-gray {
    background-color: #eee;
}
.notoficationBell .notification-box {
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
}
.notoficationBell .footer {
    padding: 5px 15px;
    border-radius: 0px 0px 3px 3px;
}
.notoficationBell a {
    margin-top: 1px;
}
.notoficationBell a {
    position: relative;
}
.notification-box {
    display: block !important;
}
.notification_ico {
    color: #4b4f5c;
}
.media-body.noti_txt span {
    display: contents;
}
.date_txt small {
    color: 
    #000;
    font-size: 15px;
    font-weight: normal;
}
.notoficationBell a span {
    position: absolute;
    background-color: #c93165;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    right: -3px;
    top: 0px;
    color: #fff !important;
}
.profileImg{
  position: relative;
}
.profileImg .verification_status {
    position: absolute;
    bottom: 12px;
    right: 14px;
    width: 35px !important;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline-block;
    max-width: 100%;
}
.rept_btn_new {
    position: absolute;
    right: 40px;
    bottom: 63px;
}


.uploadedImg {
    width: 100%;
    max-width: 450px;
    background-color: #f7f7f7;
    padding-bottom: 30%;
    border: 1px dashed #ccc;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}
.uploadedImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    max-width: 100%;
    object-position: center;
    left: 0;
}
.clsIcon {
    position: absolute;
    background: #c93165;
    width: 32px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    border-radius: 50%;
    font-size: 18px;
    right: -5px;
    bottom: -5px;
}

/*====Developer-API-documentation-Vaishali-25-05-2020====*/
/*====Developer-API-documentation-Vaishali-25-05-2020====*/
.documantation-header {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  /* box-shadow: 0px 0px 3px 0px #ddd; */
  padding: 20px;
  margin: 20px auto;
  /* font-family: sans-serif; */
  /* transform: scaleX(0.994631); */
}
.documantation-heading h4 {
  text-align: center;
  font-size: 26px;
  margin-top: 35px;
  color: #000000;
}
.Authentication-sec {
  margin-top: 30px;
  padding: 10px 45px;
}
.Authentication-sec h5 {
  color: #000;
  font-size: 21px;
  font-weight: 500;
}
.Authentication-sec p {
  color: #333333;
  font-weight: 500;
  font-size: 17px;
  margin-top: -6px;
}
.Authentication-hdr-sec {
  background-color: #f8f9fa;
  padding: 0px 50px;
}
.Authentication-hdr-sec img {
  width: 100%;
  max-width: 140px;
  padding: 8px 0;
}
.user-profile {
  width: 100%;
  padding: 12px 8px;
  background-color: #eff0f1;
  color: #242729;
  position: relative;
  max-width: 850px;
  overflow-x: auto;
}
.copy-tooltip {
  position: absolute;
  top: 4%;
  /* left: 0; */
  right: 9px;
}
.copy-tooltip a {
  color: #818a91;
  font-size: 13px;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
}
.copy-tooltip a:hover {
  background-color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}
.response-sec {
  margin-top: -15px;
}
.response-sec h3 {
  color: #000;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 19px;
}
.user-profile code {
  font-size: 16px;
}
.response-sec h6 {
  color: #202020;
  font-size: 20px;
  font-weight: 500;
}
.response-sec p {
  color: #999;
  font-weight: 300;
  font-size: 16px;
  margin-left: 15px;
}
.response-sec.response-sec-1 p {
  margin-left: 20px;
}
.response-sec p span {
  color: #333;
  font-weight: 600;
  margin-right: 5px;
}
.response-sec a {
  color: #c73266;
  font-weight: 500;
}
.responseList {
  list-style: disc;
  padding-left: 50px;
  color: #999;
  /* margin-left: 50px; */
}