<div class="footer">
    <div class="copyCnt">
        <p>&copy; <strong><script>
            now = new Date
            theYear=now.getYear()
            if (theYear < 1900)
            theYear=theYear+1900
            document.write(theYear)
      </script> - <strong><script>
            now = new Date
            theYear=now.getYear()
            if (theYear < 1900)
            theYear=theYear+1900
            document.write(theYear +1)
      </script> <a href="">fireworks</a>. All rights reserved.</p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>