<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fireworks</title>
    <link rel="shortcut icon" href="/admin/img/bang_app_favicon_logo.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        
        .headerTitle h2 {
            margin: 0;
            font-size: 18px;
            color: #333;
        }
        
        .topHeader {
            background: #ffffff;
            display: flex;
            padding: 12px 50px;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            width: 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }
        
        .bodyCnt {
            padding: 20px 50px;
        }
        
        .bodyCnt h2 {
            margin-top: 0;
            margin-bottom: 10px;
            color: #333;
        }
        
        .bodyCnt p {
            color: #666;
            line-height: 25px;
            font-size: 15px;
            margin-top: 0;
        }
        
        .logo img {
            width: 100%;
            max-width: 70px;
        }

        .trm-title {
            text-align: center;
            padding: 10px 0;
        }
        
        .copyCnt {
            text-align: center;
            background: black;
            color: #fff;
            font-size: 15px;
            padding: 15px 12px;
        }
        
        .copyCnt p {
            margin: 0;
        }
        
        .copyCnt p a {
            color: #f1324f;
            text-decoration: none;
        }
        
        .footer {
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        
        body {
            padding-bottom: 50px;
            padding-top: 100px;
        }
            .trm-title h2{color:#0d1d31;margin-top:0;font-size:22px;margin-bottom:15px;font-weight:600;}
            .trm-title ul li{list-style-type:disc;color:#626262;font-size:14px;}
            .trm-title ul{margin-left:12px;padding: 0;}
            .trm-title h4{color:#0d1d31;font-size:17px;}
            .trm-title ul.without-dsc li{list-style-type:none;}
            .trm-title ul.without-dsc li:first-child{list-style-type:disclosure-closed;}
            .trm-title p{color:#626262;font-size:14px;}
            .trm-title a{color:#23527c;}
            .trm-title ul.lst-alphbt li{list-style-type:lower-alpha;}
            .trm-title ul.lst-square li{list-style-type:square;}
        
        @media only screen and (max-width: 767px) {
            .topHeader {
                padding: 12px 20px;
            }
            .bodyCnt {
                padding: 20px 20px;
            }
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="topHeader">
            <div class="logo">
                <img src="/front/img/logo.png">
            </div>
            <div class="headerTitle">
                <% if(data != undefined && data != '') { %>
                    <h2><%= data[0].setting_name%></h2>
                <% } else { %>
                    <h2><%= contentName%></h2>
                <% } %>
            </div>
        </div>