<div class="wrapper body" style="background-color: #fff">
    <% include header.html %>
    <div class="bodyCnt">
        <section id="term-cnditn" class="py-4">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </section>
    </div>
</div>
<% include footer.html %>