<!-- FOOTER-SECTION -->
    <div class="footer-sec">
    	<div class="container">
    		<div class="ftBlk">
    			<p>© <span class="date">2020</span> Qvaring. All rights reserved.</p>
    			<p><a href="#">Privacy Policy</a> <a href="#">Terms of Service</a></p>
    		</div>
    	</div>
    </div>


<script src="/public/assets/website/js/form-wizard.js"></script>
<script src="/public/assets/website/js/intlTelInput.min.js"></script>
<script src="/public/assets/website/js/anime.min.js"></script>
<script src="/public/assets/website/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/public/assets/website/js/cropper.js"></script>
<!-- moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.js" type="text/javascript"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="/public/assets/website/js/user_custom.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</body>
</html>