<!DOCTYPE html>
<html class="no-js">
<head>
<title>Qvaring</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/public/assets/website/img/ico_qvaring.png" type="image/png"/>

<!--link files-->
<link href="/public/assets/website/css/bootstrap.min.css" rel="stylesheet" type="text/css">  	
<link href="/public/assets/website/css/owl.carousel.min.css" rel="stylesheet" type="text/css"> 
<link href="/public/assets/website/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="/public/assets/website/css/fontawesome.min.css" rel="stylesheet" type="text/css">
<link href="/public/assets/website/css/intlTelInput.min.css" rel="stylesheet">
<link href="/public/assets/website/css/form-wizard.css" rel="stylesheet" type="text/css">

<link href="/public/assets/website/css/style.css" rel="stylesheet" type="text/css">
<link href="/public/assets/website/css/responsive.css" rel="stylesheet" type="text/css">
<link href="/public/assets/website/css/user_custom.css" rel="stylesheet" type="text/css">

<script src="/public/assets/website/js/jquery-3.5.1.min.js"></script>
<script src="/public/assets/website/js/popper.min.js"></script>
<script src="/public/assets/website/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/public/assets/website/js/jquery-ui.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/public/assets/website/css/cropper.css">
<script src="/public/assets/website/js/custom.js"></script>
<script>
    var mobile_required = '<%= headerData.mobile_required %>' ;
    var Minimum_length_character = '<%= headerData.Minimum_length_character %>' ;
    var Password_message_should_be = '<%= headerData.Password_message_should_be %>' ;
    var please_enter_valid_mob = '<%= headerData.please_enter_valid_mob %>' ;
    var The_email_mandatory = '<%= headerData.The_email_mandatory %>' ;
    var Please_valid_email_address = '<%= headerData.Please_valid_email_address %>' ;
    var The_otp_is_mandatory = '<%= headerData.The_otp_is_mandatory %>' ;
    var The_name_field_is_mandatory = '<%= headerData.The_name_field_is_mandatory %>' ;
    var The_name_two = '<%= headerData.The_name_two %>' ;
    var The_name_max = '<%= headerData.The_name_max %>' ;

    var OTP_verified_successfully = '<%= headerData.OTP_verified_successfully %>' ;
    var OTP_sent_successfully = '<%= headerData.OTP_sent_successfully %>' ;
    var No_record_found = '<%= headerData.No_record_found %>' ;
    var Message_history_not_found = '<%= headerData.Message_history_not_found %>' ;
    var Enter_characters = '<%= headerData.Enter_characters %>' ;
    var Reseller_Commission = '<%= headerData.Reseller_Commission %>' ;
    var at_list = '<%= headerData.at_list %>' ;
    var otp_field_is_mandatory = '<%= headerData.otp_field_is_mandatory %>' ;
    var old_password = '<%= headerData.old_password %>' ;
    var The_confirm_password = '<%= headerData.The_confirm_password %>' ;
    var Enter_confirm_password = '<%= headerData.Enter_confirm_password %>' ;
    var Please_enter_your_email = '<%= headerData.Please_enter_your_email %>' ;
    var Recharge_amount_is_greater = '<%= headerData.Recharge_amount_is_greater %>' ;
    var Please_acknowledge_you = '<%= headerData.Please_acknowledge_you %>' ;
    var Please_newpassword = '<%= headerData.Please_newpassword %>' ;

    var The_password_field_is_mandatory = '<%= headerData.The_password_field_is_mandatory %>' ;

</script>
</head>
<body>
<div>
	
	<!-- HEADER-SECTION -->
	<div class="header-section header-fixed">
		<div class="container">
			<div class="">
				<nav class="navbar p-0 navbar-expand-lg navbar-light">
				  <a class="navbar-brand img-logo" href="index.html"><img src="public/assets/website/img/qvaring_logo.png"></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav nav-text ml-auto">
				      <li class="nav-item">
				        <a class="nav-link nav_link home-link" href="#Features"><%=
							headerData.Features%> <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link nav_link" href="#Download"><%=
							headerData.Download%></a>
				      </li>
				      <li class="nav-item d-md-block login-text">
	                    <a class="nav-link js-scroll-trigger btn checkDemos" id="showfirst" data-toggle="modal" data-target="#exampleModal" href="javascript:void(0);"><%=
							headerData.Login%> <i class="fas fa-sign-in-alt"></i></a>
					  </li>
					  <li class="nav-item dropdown smDropMenu">
                        <div class="">
                           <a class="profile-pd" href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span class="user-menu-img">
							<% if(headerData.Language == 'en') { %>
								<img src="public/assets/website/img/us.png">
								<% }else{ %>
									<img src="public/assets/website/img/spain.png">
							  <%  } %>
							   
							</span>
                           </a>
                           <div class="dropdown-menu dropdown-menu-right profile-drpdwn drpdwn-cntn langDrop" aria-labelledby="dropdownMenu2">
                              <a class="dropdown-item" onclick="langFunc('en');"  href="javascript:void(0);"><img src="public/assets/website/img/us.png"><%=
							headerData.English%></a>
                              <a class="dropdown-item" onclick="langFunc('es');" href="javascript:void(0);"><img src="public/assets/website/img/spain.png"><%=
								headerData.Spanish%></a>
                           </div>
                        </div>
                     </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>