
<!DOCTYPE html>
<html class="no-js">
<head>
<title>Qvaring</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="public/assets/website/img/ico_qvaring.png" type="image/png"/>

<!--link files-->
<link href="/public/assets/website/css/bootstrap.min.css" rel="stylesheet" type="text/css">  	
<link href="/public/assets/website/css/jquery-ui.min.css" rel="stylesheet" type="text/css">  	
<link href="/public/assets/website/css/owl.carousel.min.css" rel="stylesheet" type="text/css"> 
<link href="/public/assets/website/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="/public/assets/website/css/fontawesome.min.css" rel="stylesheet" type="text/css">
<link href="/public/assets/website/css/intlTelInput.min.css" rel="stylesheet">
<link href="/public/assets/website/css/form-wizard.css" rel="stylesheet" type="text/css">
<link href="/public/assets/website/css/sweetalert.css" rel="stylesheet" type="text/css">

<link href="/public/assets/website/css/style.css" rel="stylesheet" type="text/css">
<link href="/public/assets/website/css/responsive.css" rel="stylesheet" type="text/css">
<link href="/public/assets/website/css/user_custom.css" rel="stylesheet" type="text/css">

<script src="/public/assets/website/js/jquery-3.5.1.min.js"></script>
<script src="/public/assets/website/js/popper.min.js"></script>
<script src="/public/assets/website/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/public/assets/website/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/public/assets/website/js/custom.js"></script>
<script>
    var mobile_required = '<%= headerData.mobile_required %>' ;
    var Minimum_length_character = '<%= headerData.Minimum_length_character %>' ;
    var Password_message_should_be = '<%= headerData.Password_message_should_be %>' ;
    var please_enter_valid_mob = '<%= headerData.please_enter_valid_mob %>' ;
    var The_email_mandatory = '<%= headerData.The_email_mandatory %>' ;
    var Please_valid_email_address = '<%= headerData.Please_valid_email_address %>' ;
    var The_otp_is_mandatory = '<%= headerData.The_otp_is_mandatory %>' ;
    var The_name_field_is_mandatory = '<%= headerData.The_name_field_is_mandatory %>' ;
    var The_name_two = '<%= headerData.The_name_two %>' ;
    var The_name_max = '<%= headerData.The_name_max %>' ;

    var OTP_verified_successfully = '<%= headerData.OTP_verified_successfully %>' ;
    var OTP_sent_successfully = '<%= headerData.OTP_sent_successfully %>' ;
    var No_record_found = '<%= headerData.No_record_found %>' ;
    var Message_history_not_found = '<%= headerData.Message_history_not_found %>' ;
    var Enter_characters = '<%= headerData.Enter_characters %>' ;
    var Reseller_Commission = '<%= headerData.Reseller_Commission %>' ;
    var at_list = '<%= headerData.at_list %>' ;
    var otp_field_is_mandatory = '<%= headerData.otp_field_is_mandatory %>' ;
    var old_password = '<%= headerData.old_password %>' ;
    var The_confirm_password = '<%= headerData.The_confirm_password %>' ;
    var Enter_confirm_password = '<%= headerData.Enter_confirm_password %>' ;
    var Please_enter_your_email = '<%= headerData.Please_enter_your_email %>' ;
    var Recharge_amount_is_greater = '<%= headerData.Recharge_amount_is_greater %>' ;
    var Please_acknowledge_you = '<%= headerData.Please_acknowledge_you %>' ;
    var Please_newpassword = '<%= headerData.Please_newpassword %>' ;

    var The_password_field_is_mandatory = '<%= headerData.The_password_field_is_mandatory %>' ;

</script>
</head>
<body>
<div>
	
	<!-- HEADER-SECTION -->
	<div class="header-section header-fixed">
		<div class="container">
			<div class="">
				<nav class="navbar p-0 navbar-expand-lg navbar-light">
				  	<a class="navbar-brand img-logo" href="index.html"><img src="public/assets/website/img/qvaring_logo.png"></a>
				  	<div class="profile-msg-ntfctn">
						<ul>
							<li class="nav-item">
						        <a class="profile-pd" href="chat.html">
								  	<span class="user-menu-icon msg-icon">
								  		<i class="fas fa-comment-alt"></i>
								  	</span>
						        </a>
					      	</li>
					      	<li class="nav-item dropdown notifyDrop">
						        <a class="profile-pd" href="javascript:void(0);"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="user-menu-icon"><i class="fas fa-bell"></i></span>
									<span class="badge badge-danger badge-pill">3</span>
									<div class="dropdown-menu dropdown-menu-right profile-drpdwn animate__animated animate__fadeIn" aria-labelledby="dropdownMenu2">
									  	<h3>Notifications</h3>
									  	<div class="dropdown-divider m-0"></div>
									  	<div class="scrollbar">
									  		<div class="force-overflow">
											    <div class="notifications-item"> 
											    	<div class="ntfctn-cell">
												    	<img src="public/assets/website/img/img5.png" alt="img">
											            <div class="noti-text">
											            	<div class="timeName">
												                <h4>Samso aliao</h4>
												                <span>09:00 AM</span>
											                </div>
											                <p>Samso Nagaro Like your home work</p>
											            </div>
										            </div>
										        </div>
										        <div class="notifications-item"> 
											    	<div class="ntfctn-cell">
												    	<img src="public/assets/website/img/img8.png" alt="img">
											            <div class="noti-text">
											                <div class="timeName">
												                <h4>Samso aliao</h4>
												                <span>09:00 AM</span>
											                </div>
											                <p>Samso Nagaro Like your home work</p>
											            </div>
										            </div>
										        </div>
										        <div class="notifications-item"> 
											    	<div class="ntfctn-cell">
												    	<img src="public/assets/website/img/img4.png" alt="img">
											            <div class="noti-text">
											                <div class="timeName">
												                <h4>Samso aliao</h4>
												                <span>09:00 AM</span>
											                </div>
											                <p>Samso Nagaro Like your home work</p>
											            </div>
										            </div>
										        </div>
										        <div class="notifications-item"> 
											    	<div class="ntfctn-cell">
												    	<img src="public/assets/website/img/img2.png" alt="img">
											            <div class="noti-text">
											                <div class="timeName">
												                <h4>Samso aliao</h4>
												                <span>09:00 AM</span>
											                </div>
											                <p>Samso Nagaro Like your home work</p>
											            </div>
										            </div>
										        </div>
										        <div class="notifications-item"> 
											    	<div class="ntfctn-cell">
												    	<img src="public/assets/website/img/img1.png" alt="img">
											            <div class="noti-text">
											                <div class="timeName">
												                <h4>Samso aliao</h4>
												                <span>09:00 AM</span>
											                </div>
											                <p>Samso Nagaro Like your home work</p>
											            </div>
										            </div>
										        </div>
									        </div>
								        </div>
									</div>
						        </a>
					      	</li>
					      	<li class="nav-item dropdown smDropMenu">
						        <div class="">
					        		<a class="profile-pd" href="#"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								     	<span class="user-menu-img"><img src="public/assets/website/img/img8.png"><span class="nameIc">John<i class="fas fa-angle-down ml-2"></i></span></span>
								    </a>
								    <div class="dropdown-menu dropdown-menu-right profile-drpdwn drpdwn-cntn animate__animated" aria-labelledby="dropdownMenu2">
									    <a class="dropdown-item" href="profile" ><i class="fas fa-user"></i>View Profile</a>
									    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>Edit Profile</a>
									    <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
								    </div>
								</div>
							  </li>
							  <li class="nav-item dropdown smDropMenu">
								<div class="">
								   <a class="profile-pd" href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								   <span class="user-menu-img">
									<% if(headerData.Language == 'en') { %>
										<img src="public/assets/website/img/us.png">
										<% }else{ %>
											<img src="public/assets/website/img/spain.png">
									  <%  } %>
									   
									</span>
								   </a>
								   <div class="dropdown-menu dropdown-menu-right profile-drpdwn drpdwn-cntn langDrop" aria-labelledby="dropdownMenu2">
									  <a class="dropdown-item" onclick="langFunc('en');"  href="javascript:void(0);"><img src="public/assets/website/img/us.png">English</a>
									  <a class="dropdown-item" onclick="langFunc('es');" href="javascript:void(0);"><img src="public/assets/website/img/spain.png">Spanish</a>
								   </div>
								</div>
							 </li>
						</ul>
					</div>
				  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  	</button>
					<div class="collapse navbar-collapse" id="navbarNav">
					    <ul class="navbar-nav nav-text ml-auto">
					      <li class="nav-item dropdown smDropMenu">
					        <a class="nav-link nav_link home-link active" href="javascript:void(0);"  id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					        	<span class="user-menu-img">Top-up<i class="fas fa-angle-down ml-2"></i></span>
					        </a>
					        <div class="dropdown-menu dropdown-menu-left profile-drpdwn drpdwn-cntn animate__animated" aria-labelledby="dropdownMenu3">
							    <a class="dropdown-item active" href="" >Send Top-up</a>
							    <a class="dropdown-item" href="">Nauta Top-up</a>
							    <a class="dropdown-item" href="/promotions">Promotions</a>
						    </div>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link nav_link home-link" href="history.html">Transactions</a>
					      </li>
					      <!-- <li class="nav-item">
					        <a class="nav-link nav_link home-link" href="transfer.html">Transfer</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link nav_link home-link" href="send-money.html">Send Money</a>
					      </li> -->
					    </ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class="headerMargin"></div>
	<div class="clearfix"></div>
	