<html>

<head>
    <meta charset="utf-8" />
    <title>qvaring_logo | Reset Password</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet" />
</head>

<body style="font-family: 'Source Sans Pro', sans-serif; padding:0; margin:0;">
    <table style="max-width: 750px; margin: 0px auto; width: 100% ! important; background: #F3F3F3; padding:30px 30px 30px 30px;" width="100% !important" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="text-align: center; background: #e2a43bed;">
                <table style="margin: -20px;" width="100%" border="0" cellpadding="0" cellspacing="0">  
                    <tr>
                        <td>
                            <img  src="https://qvaring.qvastag.com/public/email_icon/qvaring_logo.png"  height="150" width="150">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>        
        <tr>
            <td style="text-align: center;">
                <table width="100%" border="0" cellpadding="30" cellspacing="0" bgcolor="#fff">
                    <tr>
                        <td>
                            <h3 style="color: #333; font-size: 28px; font-weight: normal; margin: 0; text-transform: capitalize;">Reset Password</h3>
                            <p style="text-align: left; color: #333; font-size: 16px; line-height: 28px;">Hello #{name},</p>
                            <p style="text-align: left;color: #333; font-size: 16px; line-height: 28px;">You Recently requested to reset your password for your Qvaring account. Please click on button below : </p>
                           
                            //- <p style="text-align: left;color: #333; font-size: 16px; line-height: 28px;">If you did not request password reset, please login with above password and change your password immediately.</p>  
                            <a href=`#{basepath}` style= "background: #FE5A62 ;font-size: 18px;color: #fff;font-weight: 600; padding: 8px 20px;border-radius: 150px;text-decoration: none;">Click To Reset</a>
                            <p style="text-align: left;color: #333; font-size: 16px; line-height: 28px;">Disclaimer : This link is valid for 12 hours.</p>  
                            <p style="text-align: left;color: #333; font-size: 16px; line-height: 28px;">Thanks,<br>Team Qvaring</p>  
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        <td style="text-align: center;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#fff" >
            <tr>
              <td style="padding: 10px;background: #e2a43bed;color: #fff;">
                #{title} © #{year}-#{nextYear} <a style="color: red; text-decoration: none;" href="">#{title}</a>. All rights reserved.
              </td>
            </tr>
          </table>
        </td>
        </tr>
    </table>
</body>
</html>