
<!DOCTYPE html>
<html>
<head>
  <title>Qvaring | Transfer Amount</title>

  <link href="https://fonts.google.com/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<table style="width:100%;text-align: center;width:100%; max-width:700px;margin: 50px auto; background-color:#f2f2f2;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);font-family: 'Asap', sans-serif;border-collapse: collapse;">
  

  <tr style=" text-align: center;background-color: #fff;">

    <td style="padding:20px 0px;"><img style="width: 100%;max-width: 170px;" src=`#{cubaring_icon}`></td>
   
  </tr>
  <td style="background-color: #f2f2f2;padding:25px 25px 5px;text-align: center;">
    <table style="text-align: center;background-color: #fff;border-radius: 5px;box-shadow: 0px 0px 3px 0px rgba(245, 245, 245, 1);max-width: 700px;width: 100%;padding: 15px;">
 
    <tr>
      <td style="padding-top: 15px;"><img style="width: 100%; max-width: 80px;" src=`#{latter_icon}`></td>
      
    </tr>
    //- <tr style="">
    //-   <td style="padding: 20px 25px 5px; font-size: 18px;line-height: 25px;text-align: center;"><b>John Doe has been sent a request to send money on this address.</b>
    //-   </td>
    //- </tr>
    //- <tr style="">
    //-   <td style="padding: 0px 25px 5px 0px; font-size: 17px;line-height: 25px;color: #828282;text-align: left;">  <img style="width: 100%; max-width: 20px;" src="img/location.png"> 6825 Versailles Pinellas Park, Florida(FL), 33781</td>
      
    //- </tr>
    //- <tr>
    //-    <td style="padding: 10px 25px 18px 0px;text-align: left;">For more info you can <a style=" color: #C63266;text-decoration: none;font-weight: 600;" href="">visit Admin.</a></td>
      
    //- </tr>

    <tr style="">
      <td style="border-top: 1px dashed #ddd;padding: 15px 0px 5px; font-size: 18px;line-height: 25px;text-align: left;">Transfer Detail
      </td>
    </tr>

    <tr style="">
      <td style="padding: 0px 0px 10px;color:#333;text-align: left;line-height: 23px;"><span>Transfered By :<br> <b>#{transfer_by}</b></span>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 0px 0px 10px;color:#333;text-align: left;line-height: 23px;"><span>Transfered To :<br> <b>#{transfer_to}</b></span>
      </td>
    </tr>
    //- <tr style="">
    //-   <td style="padding: 0px 0px 10px;color:#333;text-align: left;line-height: 23px;"><span>Address : <br><b>6825 Versailles Pinellas Park</b></span>
    //-   </td>
    //- </tr>
    <tr style="">
      <td style="padding: 0px 0px 10px;color:#333;text-align: left;line-height: 23px;"><span>Amount : <br><b>$#{amount}</b></span>
      </td>
    </tr>

    </table>
  </td>
    <tr style="background-color: #f2f2f2;">
      <td style="padding: 10px 0px 0px;color:rgba(179, 179, 179, 1);"><ul style="display: flex;list-style-type: none;justify-content: center;margin: 0;padding: 0;"><li style="margin-right: 5px;">Privacy Policy</li><li style="margin-left: 5px;">Terms & Conditions</li></ul></td>
    </tr>
    <tr style="background-color: #f2f2f2;">
      <td style="padding: 0px 0px 0px;color:rgba(179, 179, 179, 1);"><p class="">Â© #{year}-#{nextYear} <b style="color: #000;"><a href="" style="text-decoration: none;">Qvaring</a></b>. All rights reserved.</p></td>
    </tr>
</table>

</body>
</html>