<html>

<head>
    <meta charset="utf-8" />
    <title>qvaring_logo | Approval Mail</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet" />
</head>

<body style="font-family: 'Source Sans Pro', sans-serif; padding:0; margin:0;">
    <table style="max-width: 750px; margin: 0px auto; width: 100% ! important; background: #F3F3F3; padding:30px 30px 30px 30px;" width="100% !important" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="text-align: center; background: #e2a43bed;">
                <table style="margin: -20px;" width="100%" border="0" cellpadding="0" cellspacing="0">  
                    <tr>
                        <td>
                            <img height="150" width="150" src=`#{cubaring_icon}`>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>        
        <tr>
            <td style="text-align: center;">
                <table width="100%" border="0" cellpadding="30" cellspacing="0" bgcolor="#fff">
                    <tr>
                        <td>
                            <h3 style="color: #333; font-size: 28px; font-weight: normal; margin: 0; text-transform: capitalize;">Good News</h3>
                            <p style="text-align: left;color: #333; font-size: 16px; line-height: 28px;">New #{userType} account has been create, please check below detail and approve.: </p>
                            <p style="text-align: left; color: #333; font-size: 16px; line-height: 28px;">User Name: #{name}</p>
                            <p style="text-align: left; color: #333; font-size: 16px; line-height: 28px;">User Type: #{userType}</p>
                            <p style="text-align: left; color: #333; font-size: 16px; line-height: 28px;">Email: #{email}</p>
                            <p style="text-align: left; color: #333; font-size: 16px; line-height: 28px;">Country Code: #{countryCode}</p>
                            <p style="text-align: left; color: #333; font-size: 16px; line-height: 28px;">Contact Number: #{contactNumber}</p>
                            
                            <p style="text-align: left;color: #333; font-size: 16px; line-height: 28px;">Thanks,<br>Team Qvaring</p>  
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        <td style="text-align: center;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#fff" >
            <tr>
              <td style="padding: 10px;background: #e2a43bed;color: #fff;">
                #{title} © #{year}-#{nextYear} <a style="color: red; text-decoration: none;" href="">#{title}</a>. All rights reserved.
              </td>
            </tr>
          </table>
        </td>
        </tr>
    </table>
</body>

</html>